<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/AdminHome/Index">{{ 'Кабинет администратора' | translate }}</a></li>
                    <li class="active">{{ 'Заявки на присоединение' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section-top-0 section-bottom-60">
    <table class="table table-athens-gray">
        <thead>
            <tr>
                <th>{{ 'Название' | translate }}</th>
                <th>{{ 'Категория участника' | translate }}</th>
                <th>{{ 'ИНН' | translate }}</th>
                <th>{{ 'Статус' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sf of model">
                <td>{{sf.Company.CompanyName}}</td>
                <td>{{dict.get_AGENT_TYPE(sf.Company.AgentType)}}</td>
                <td>{{sf.Company.INN}}</td>
                <td>{{dict.get_SIGN_FORM_TYPE(sf.Status)}}</td>
                <td><paper-icon-button icon="search" title="{{ 'Просмотр' | translate }}" (click)="sf_details(sf.Id)"></paper-icon-button></td>
            </tr>
    </table>

</section>