<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/AdminHome/Index">{{ 'Кабинет администратора' | translate }}</a></li>
                    <li><a routerLink="/AdminHome/DZ">{{ 'Список ДЗ' | translate }}</a></li>
                    <li class="active">{{ 'Дебиторская задолженность' | translate }} №{{model.Id}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<form>
    <ul>
        <li *ngFor="let message of errorMessages" class="alert-danger">{{message}}</li>
    </ul>
    <h5><span class="badge">1</span> {{ 'Дебиторская задолженность' | translate }}</h5>
    <div class="row">
        <div class="col-md-3">
            <p>{{ 'Сумма требований' | translate }}</p>
        </div>
        <div class="col-md-3">
            <label>{{model.Sum | CurrencyRur}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>{{ 'Дата начала задолженности' | translate }}</p>
        </div>
        <div class="col-md-3">
            <label>{{model.DateFrom | date}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>{{ 'Дата погашения задолженности' | translate }}</p>
        </div>
        <div class="col-md-3">
            <label>{{model.DateTo | date}}</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <p>{{ 'Срок погашения' | translate }}</p>
        </div>
        <div class="col-md-3">
            <label>{{model.Days}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>{{ 'Документы, подтверждающие задолженность' | translate }}</p>
        </div>
        <div class="col-md-3">
            <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.ContractGuid}};{{model.Id}};{{fName}}" target="_blank" *ngFor="let fName of model.DocumentsURLs"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
        </div>
    </div>

    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-3">
            <paper-button raised on-click="submit_click()" [disabled]="model.Status==5">{{ 'Подтвердить' | translate }}</paper-button>
        </div>
        <div class="col-md-3" *ngIf="showProgress">
            <paper-progress indeterminate></paper-progress>
        </div>
    </div>
</form>
<p>&nbsp;</p>
<paper-toast id="theToast"></paper-toast>