<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/AdminHome/Index">{{ 'Кабинет администратора' | translate }}</a></li>
                    <li class="active">{{ 'Список ДЗ' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="section-top-0 section-bottom-60">
    <table class="table table-athens-gray">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'Поставщик' | translate }}</th>
                <th>{{ 'Сумма требований' | translate }}</th>
                <th>{{ 'Срок ДЗ' | translate }}</th>
                <th>{{ 'Статус' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dzlist">
                <td>{{item.Id}}</td>
                <td>{{item.Supplier.CompanyName}}</td>
                <td>{{item.Sum | CurrencyRur}}</td>
                <td>{{item.Days}}</td>
                <td>
                    <span>{{helper.get_DZ_STATUSES(item.Status)}}</span>
                </td>
                <td><paper-icon-button icon="search" title="Просмотр" (click)="dz_details(item.Id)"></paper-icon-button></td>
            </tr>
    </table>

</section>