<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li class="active">{{ 'Кабинет администратора' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- About us-->
<section class="section-top-55 section-bottom-60">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12 cell-md-8 cell-lg-9">
                <div class="range">


                    <div class="cell-xs-12">
                        <div class="inset-md-right-15 shift-up-sm-10 offset-top-50">
                            <h3>{{ 'Кабинет администратора' | translate }}</h3>
                            <p class="text-style-1 offset-top-22">
                                {{ 'Добро пожаловать в систему управления платформой' | translate }} InvoiceCafé.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</section>