<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/AdminHome/Index">{{ 'Кабинет администратора' | translate }}</a></li>
                    <li><a routerLink="/AdminHome/Companies">{{ 'Заявки на присоединение' | translate }}</a></li>
                    <li class="active">{{ model.Company.CompanyName }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section-top-0 section-bottom-60">
    <form>
        <ul>
            <li *ngFor="let message of errorMessages" class="alert-danger">{{message}}</li>
        </ul>
        <h5><span class="badge">1</span> {{ 'Компания' | translate }}</h5>
        <div class="row">
            <div class="col-md-4">
                <p>{{ 'Название' | translate }}</p>
            </div>
            <div class="col-md-6">
                <label>{{model.Company.CompanyName}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p>{{ 'Категория участника' | translate }}</p>
            </div>
            <div class="col-md-6">
                <label>{{dict.get_AGENT_TYPE(model.Company.AgentType)}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p>{{ 'ИНН' | translate }}</p>
            </div>
            <div class="col-md-6">
                <label>{{model.Company.INN}}</label>
            </div>
        </div>

        <h5><span class="badge">2</span> {{ 'Документы' | translate }}</h5>

        <div class="row" *ngFor="let doc of dict.SignFormCompanyDocuments">
            <div class="col-md-4">
                <p>{{doc.DocTitle}}</p>
            </div>
            <div class="col-md-6">
                <a *ngIf="model[doc.DocFieldName]" href="/api/service/fl?key={{model.Company.Guid}};signform;{{model[doc.DocFieldName]}}" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
            </div>

        </div>
        <div class="row" *ngFor="let doc of dict.SignFormManagerDocuments">
            <div class="col-md-4">
                <p>{{doc.DocTitle}}</p>
            </div>
            <div class="col-md-6">
                <a *ngIf="model[doc.DocFieldName]" href="/api/service/fl?key={{model.Company.Guid}};signform;{{model[doc.DocFieldName]}}" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
            </div>

        </div>

        <h5><span class="badge">3</span> {{ 'Руководитель' | translate }}</h5>

        <div class="row">
            <div class="col-md-6">
                <paper-input label="{{ 'ФИО' | translate }}" [(ngModel)]="model.DirectorFullName" name="DirectorFullName"></paper-input>
            </div>
            <div class="col-md-6">
                <paper-input label="{{ 'Гражданство' | translate }}" [(ngModel)]="model.DirectorCitizenship" name="DirectorCitizenship"></paper-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <vaadin-date-picker label="{{ 'Дата рождения' | translate }}" [value]="_dt" id="DirectorBDate" name="DirectorBDate" [i18n]="_dp_local"></vaadin-date-picker>
            </div>
            <div class="col-md-6">
                <paper-input label="{{ 'Место рождения' | translate }}" [(ngModel)]="model.DirectorPlaceOfBirth" name="DirectorPlaceOfBirth"></paper-input>
            </div>
        </div>

        <h5><span class="badge">4</span> {{ 'Тарифный план' | translate }}</h5>
        <label *ngIf="model.Tarif==1">{{ 'ТПП 1.0' | translate }}</label>
        <label *ngIf="model.Tarif==2">{{ 'ТПП 2.0' | translate }}</label>
        <label *ngIf="model.Tarif==3">{{ 'ТПП 3.0' | translate }}</label>

        <p>&nbsp;</p>
        <div class="row">
            <div class="col-md-3">
                <!--<paper-button raised on-click="submit_click()" [disabled]="model.Status>1">{{ 'Принять' | translate }}</paper-button>--> <!--для целей тестирования пока закомментируем-->
                <paper-button raised on-click="submit_click()">{{ 'Принять' | translate }}</paper-button>
            </div>
            <div class="col-md-3" *ngIf="showProgress">
                <paper-progress indeterminate></paper-progress>
            </div>
        </div>
    </form>

    <paper-dialog id="successDialog">
        <h2>{{ 'Акцептовано' | translate }}!</h2>
        <div class="buttons">
            <paper-button dialog-confirm autofocus>{{ 'Закрыть' | translate }}</paper-button>
        </div>
    </paper-dialog>
</section>