
    <section class="border-bottom border-bottom-gray-lighter">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12">
                    <ul class="breadcrumbs-custom">
                        <li><a routerLink="/InvestorHome/Index">{{ 'Кабинет инвестора' | translate }}</a></li>
                        <li><a routerLink="/InvestorHome/Lots">{{ 'Список лотов' | translate }}</a></li>
                        <li><a routerLink="/InvestorHome/Lot/{{this.lotId}}">Лот №{{this.lotId}}</a></li>
                        <li class="active">{{ 'Контракт' | translate }} №{{model.ContractNumber}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<div class="shell">
    <section class="section-50 page-offers-list">
        <h5><b class="text-primary"> 1. </b>Информация о контракте</h5>
        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Наименование дебитора</label>
                    <input type="text" class="form-control" placeholder="{{model.Debtors[0].CompanyName}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Реквизиты дебитора</label>
                    <input type="password" class="form-control" placeholder="{{ 'ИНН' | translate }}: {{model.Debtors[0].INN}} {{ 'ОГРН' | translate }}: {{model.Debtors[0].OGRN}}">
                </div>
            </div>
        </div>

        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Вид контракта</label>
                    <input type="text" class="form-control" disabled placeholder="{{dict.get_CONTRACT_TYPE(model.ContractType)}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Номер контракта</label>
                    <input type="password" class="form-control" disabled placeholder="{{model.ContractNumber}}">
                </div>
            </div>

        </div>

        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Название контракта</label>
                    <input type="password" class="form-control" disabled placeholder="{{model.ContractName}}">
                </div>
            </div>
        </div>

        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Начало контракта</label>
                    <input type="text" class="form-control" placeholder="{{_dt[1]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Окончание контракта</label>
                    <input type="password" class="form-control" placeholder="{{_dt[2]}}">
                </div>
            </div>
        </div>

        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">{{ 'Дата заключения контракта' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{_dt[0]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">{{ 'Срок действия контракта, дней' | translate }}</label>
                    <input type="password" class="form-control" placeholder="{{model.Duration}}">
                </div>
            </div>
        </div>

        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Предмет договора</label>
                    <textarea type="password" class="form-control" placeholder="{{model.ContractMatter}}"></textarea>
                </div>
            </div>
        </div>

        <div class="range">

            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Способ поставки</label>
                    <input type="text" class="form-control" placeholder="{{dict.get_CONTRACT_DELIVERY_TYPE(model.DeliveryType)}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Возникновение обязательств Плательщика</label>
                    <input type="password" class="form-control" placeholder="{{_dt[4]}}">
                </div>
            </div>
        </div>

        <div class="range">

            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Возникновение обязательств Дебитора</label>
                    <input type="text" class="form-control" placeholder="{{_dt[3]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Момент перехода права собственности</label>
                    <input type="password" class="form-control" placeholder="{{_dt[5]}}">
                </div>
            </div>
        </div>

        <h5><b class="text-primary"> 2. </b>Условия по контракту</h5>

        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Условия по зачёту однородных встречных требований </label>
                    <textarea class="form-control" placeholder="{{model.CounterClaimTerms}}"></textarea>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Условия по возврату товара </label>
                    <textarea class="form-control" placeholder="{{model.MoneyBackTerms}}"></textarea>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Условия приёмки товара </label>
                    <textarea class="form-control" placeholder="{{model.AcceptanceTerms}}"></textarea>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Условия оплаты товара: форма, способы </label>
                    <textarea class="form-control" placeholder="{{model.PaymentTerms}}"></textarea>
                </div>
            </div>
        </div>


        <h5><b class="text-primary"> 3. </b>Лицо, подписавшее контракт со стороны Поставщика</h5>

        <div class="range">
            <div class="cell-xs-12">
                <div class="form-group">
                    <label class="ic-label" for="">ФИО</label>
                    <input type="text" class="form-control" placeholder="{{model.SupplierSigner.FullName}}">
                </div>
            </div>

        </div>
        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Наименование документа, подтверждающего полномочия</label>
                    <input type="password" class="form-control" placeholder="{{model.SupplierSigner.AuthDocumentType}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">&nbsp;</label>
                    <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.Guid}};{{model.SupplierSigner.AuthDocumentURL}}" target="_blank" style="display:block">
                        <span class="icon icon-sm-variant-1 icon-curious-blue fa-file-text"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Начало действия полномочий </label>
                    <input type="password" class="form-control" placeholder="{{_dt[6]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Окончания действия полномочий</label>
                    <input type="password" class="form-control" placeholder="{{_dt[7]}}">
                </div>
            </div>
        </div>


        <h5><b class="text-primary"> 4. </b>Лицо, подписавшее контракт со стороны Дебитора</h5>

        <div class="range">
            <div class="cell-xs-12">
                <div class="form-group">
                    <label class="ic-label" for="">ФИО</label>
                    <input type="text" class="form-control" placeholder="{{model.DebtorSigners[0].FullName}}">
                </div>
            </div>

        </div>
        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Наименование документа, подтверждающего полномочия</label>
                    <input type="password" class="form-control" placeholder="{{model.DebtorSigners[0].AuthDocumentType}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">&nbsp;</label>
                    <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.Guid}};{{model.DebtorSigners[0].AuthDocumentURL}}" target="_blank" style="display:block">
                        <span class="icon icon-sm-variant-1 icon-curious-blue fa-file-text"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Начало действия полномочий </label>
                    <input type="password" class="form-control" placeholder="{{_dt[8]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Окончания действия полномочий</label>
                    <input type="password" class="form-control" placeholder="{{_dt[9]}}">
                </div>
            </div>
        </div>
    </section>
 </div>

