<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/InvestorHome/Index">{{ 'Кабинет инвестора' | translate }}</a></li>
                    <li class="active">{{ 'Сделки' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="shell">


    <section class="section-50 page-rules page-offers-list">
        <h3>
            Список сделок
        </h3>

        <div class="range offset-top-25">

            <div class="cell-xs-12">
                <div class="ic-table-responsive">
                    <table class="ic-table">
                        <thead>
                            <tr>
                                <td>{{ 'Дата' | translate }}</td>
                                <td>{{ 'Поставщик' | translate }}</td>
                                <td>{{ 'Дебитор' | translate }}</td>
                                <td>{{ 'Сумма лота' | translate }}</td>
                                <td>Уведомление дебитора</td>
                                <td>{{ 'Статус' | translate }}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let deal of deals">
                                <td>{{deal.CreationDate | date:"dd.MM.yyyy"}}</td>
                                <td>{{deal.Supplier.CompanyName}}</td>
                                <td>{{deal.Debtor.CompanyName}}</td>
                                <td>{{deal.Sum | CurrencyRur}}</td>
                                <td><span class="text-regular text-success">Подтверждено</span></td>
                                <td>{{deal.Status}}</td>
                            </tr>
                            <!--<tr>
                                <td>10.12.2016</td>
                                <td>Новые технологии</td>
                                <td>Новые финансовые технологии</td>
                                <td><span>100 000</span></td>
                                <td><span class="text-regular text-success">Подтверждено</span></td>
                                <td><span class="text-regular text-success">Оплачено</span></td>
                            </tr>


                            <tr>
                                <td>10.12.2016</td>
                                <td>Новые технологии</td>
                                <td>Новые финансовые технологии</td>
                                <td><span>100 000</span></td>
                                <td><span class="text-regular text-danger">Отказано</span></td>
                                <td><span class="text-regular text-danger">Отказано</span></td>
                            </tr>

                            <tr>
                                <td>10.12.2016</td>
                                <td>Новые технологии</td>
                                <td>Новые финансовые технологии</td>
                                <td><span>100 000</span></td>
                                <td><span>-</span></td>
                                <td><span>-</span></td>
                            </tr>

                            <tr>
                                <td>10.12.2016</td>
                                <td>Новые технологии</td>
                                <td>Новые финансовые технологии</td>
                                <td><span>100 000</span></td>
                                <td><span>-</span></td>
                                <td><span>-</span></td>
                            </tr>-->




                        </tbody>
                    </table>
                </div>

            </div>

        </div>


    </section>


</div>