<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a href="/InvestorHome/Index">Кабинет инвестора</a></li>
                    <li class="active">Добавление фильтра</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="shell">


    <section class="section-50">
        <h3>
            {{pageTitle}}
        </h3>
        <ul>
            <li *ngFor="let message of errorMessages" class="alert-danger">{{message}}</li>
        </ul>
        <div class="range offset-top-41">
            <div class="cell-xs-12 cell-lg-4 offset-top-25 offset-lg-top-0">
                <h4 class="text-light">
                    Поставщик:
                </h4>
                <div class="range offset-top-0">
                    <div class="cell-xs-12 cell-lg-10">

                        <div class="form-group offset-top-41">
                            <paper-input label="{{ 'Название поставщика' | translate }}" [(ngModel)]="filter.SupplierName" name="SupplierName"></paper-input>
                        </div>
                        <div class="form-group offset-top-41">
                            <paper-input label="{{ 'Мин. сумма закрытых сделок' | translate }}" [(ngModel)]="filter.SupplierDealsSum_min" name="SupplierDealsSum_min"></paper-input>
                        </div>
                        <div class="form-group offset-top-41">
                            <label for="">Сделки за период</label>

                            <paper-radio-group aria-labelledby="label1" allow-empty-selection [selected]="'Opt1_'+filter.SupplierDealsDays_max">
                                <paper-radio-button name="Opt1_30" (click)="set_SupplierDealsDays(30)" style="float:left; width:100px">месяц</paper-radio-button>
                                <paper-radio-button name="Opt1_90" (click)="set_SupplierDealsDays(90)" style="float:left; width:100px">3 месяца</paper-radio-button><br />
                                <paper-radio-button name="Opt1_180" (click)="set_SupplierDealsDays(180)" style="float:left; width:100px">полгода</paper-radio-button>
                                <paper-radio-button name="Opt1_365" (click)="set_SupplierDealsDays(365)" style="float:left; width:100px">год</paper-radio-button>
                            </paper-radio-group>

                        </div>

                    </div>
                </div>

            </div>

            <div class="cell-xs-12 cell-lg-4 offset-top-25 offset-lg-top-0">
                <h4 class="text-light">
                    Дебиторская задолженность:
                </h4>

                <div class="range offset-top-0">
                    <div class="cell-xs-12 cell-lg-10">


                        <div class="form-group offset-top-41">
                            <paper-input label="{{ 'Название дебитора' | translate }}" [(ngModel)]="filter.DebtorName" name="DebtorName"></paper-input>
                        </div>
                        <div class="form-group offset-top-41">
                            <label for="">Срок ДЗ, дней: {{filter.DZDays_max}}</label>
                            <paper-slider id="slDZDays_max" [value]="filter.DZDays_max" [min]="filter.DZDays_min" max="180" style="width:100%" 
                                          (immediate-value-change)="sliderDZDays_max($event)" (change)="sliderDZDays_max($event)"></paper-slider>
                        </div>
                        <div class="form-group offset-top-41">
                            <label for="">Тип верификации ДЗ</label>
                            <div class="offset-top-10">
                                <paper-radio-group aria-labelledby="label1" allow-empty-selection [selected]="'Opt2_'+filter.DZVerType">
                                    <paper-radio-button name="Opt2_5" (click)="set_DZVerType(5)" style="display:block">Верификация платформой</paper-radio-button>
                                    <paper-radio-button name="Opt2_10" (click)="set_DZVerType(10)" style="display:block">Верификация дебитором</paper-radio-button><br />
                                </paper-radio-group>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cell-xs-12 cell-lg-4 offset-top-25 offset-lg-top-0">
                <h4 class="text-light">
                    Лот:
                </h4>
                <div class="range offset-top-0">
                    <div class="cell-xs-12 cell-lg-10">

                        <div class="form-group offset-top-41">
                            <label for="">Сумма лота: {{filter.LotSum_max | CurrencyRur}} руб.</label>
                            <paper-slider id="slLotSum_max" [value]="filter.LotSum_max" [min]="filter.LotSum_min" max="3000000" style="width:100%" 
                                          (immediate-value-change)="sliderLotSum_max($event)" (change)="sliderLotSum_max($event)"></paper-slider>
                        </div>
                        <div class="form-group offset-top-41">
                            <label for="">Размер финансирования: {{filter.LotDZPart_max}}%</label>
                            <paper-slider id="slLotDZPart_max" [value]="filter.LotDZPart_max" [min]="filter.LotDZPart_min" max="100" style="width:100%" 
                                          (immediate-value-change)="sliderLotDZPart_max($event)" (change)="sliderLotDZPart_max($event)"></paper-slider>
                        </div>
                        <div class="form-group offset-top-41">
                            <label for="">Размер ставки: {{filter.LotYearPercent_max}}%</label>
                            <paper-slider id="slLotYearPercent_max" [value]="filter.LotYearPercent_max" [min]="filter.LotYearPercent_min" max="100" style="width:100%" 
                                          (immediate-value-change)="sliderLotYearPercent_max($event)" (change)="sliderLotYearPercent_max($event)"></paper-slider>
                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="range ">

            <div class="cell-xs-12">
                <hr class="hr-gray-lighter offset-top-5">
            </div>
        </div>
        <div class="range offset-top-35">
            <div class="cell-xs-12 cell-md-12 cell-lg-4 ">

                <paper-input label="{{ 'Наименование фильтра' | translate }}" [(ngModel)]="filter.FilterName" name="FilterName"></paper-input>

            </div>

            <div class="cell-lg-2 cell-lg-preffix-4 cell-md-6 offset-top-25">
                <!--<button class="btn btn-block btn-curious-blue-outline ">
                    Сбросить
                </button>-->
            </div>
            <div class="cell-lg-2 cell-md-6 offset-top-25">
                <button class="btn btn-block btn-curious-blue offset-top-25 offset-xs-top-0 " (click)="submit_click()">
                    Сохранить
                </button>
            </div>

        </div>


    </section>


</div>