
<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/InvestorHome/Index">{{ 'Кабинет инвестора' | translate }}</a></li>
                    <li class="active">Торги</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="shell">


    <section class="section-50">
        <h3>
            Торги
        </h3>

        <div class="banner banner-1" style="background-color:mistyrose" *ngIf="errorMessages.length>0">
            <h4>Ошибки обращения к серверу</h4>
            <ul>
                <li *ngFor="let message of errorMessages" class="alert-danger">{{message}}</li>
            </ul>
        </div>

        <div class="range">

            <div class="cell-xs-12 cell-md-6">
                <h4>
                    Список лотов:
                </h4>


            </div>

            <div class="cell-xs-12 cell-md-6">

                <span class="pull-md-right offset-top-25 offset-md-top-0" *ngIf="numOfFilters==0">
                    <a routerLink="/InvestorHome/AddFilter">
                        <h4 class="text-dotted-blue text-regular text-primary">
                            Создать фильтр <i class="fa fa-filter text-normal" aria-hidden="true"></i>
                        </h4>
                    </a>
                </span>
                <span class="auctionBtn pull-md-right offset-top-25 offset-md-top-0" *ngIf="numOfFilters>0">
                    <h4 class="text-dotted-blue text-regular  text-primary">
                        {{filterTitle}} <i class="fa fa-filter text-normal" aria-hidden="true"></i>
                    </h4>


                    <div class="auctionPopup">
                        <div class="c border-bottom border-bottom-gray-lighter">
                            <h4>{{filterTitle}}</h4>
                        </div>
                        <div class="c border-bottom border-bottom-gray-lighter">
                            <div class="range offset-top-15" *ngFor="let filter of filters; let i = index">
                                <div class="cell-xs-10" (click)=setFilter(i)>
                                    {{filter.FilterName}}
                                </div>
                                <div class="cell-xs-2">
                                    <i class="text-primary pull-right fa fa-pencil" aria-hidden="true" (click)="editFilter(filter.Id)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="c border-bottom border-bottom-gray-lighter">
                            <p (click)="setFilter(-1)">
                                <i class="text-normal inset-right-10 text-primary fa fa-minus-circle" aria-hidden="true"></i>
                                Без фильтра
                            </p>
                        </div>
                        <div class="c border-bottom border-bottom-gray-lighter">
                            <p>
                                <a routerLink="/InvestorHome/AddFilter">
                                <i class="text-normal inset-right-10 text-primary fa fa-plus-circle" aria-hidden="true"></i>
                                Создать фильтр
                                </a>
                            </p>
                        </div>


                    </div>
                </span>
                


            </div>


        </div>

        <div class="range offset-top-15">
            <div class="cell-xs-12">
                <div class="ic-table-responsive">
                    <table class="ic-table">
                        <thead>
                            <tr class="border-curios">
                                <td>
                                    <input type="checkbox" [(ngModel)]="selectAll" (ngModelChange)="selectAllClicked()">

                                </td>
                                <td>№</td>
                                <td>Поставщик</td>
                                <td>Дебитор</td>
                                <td>Срок ДЗ</td>

                                <td>
                                    Размер
                                    финансирования
                                </td>
                                <td>
                                    Размер
                                    ставки
                                </td>
                                <td>Сумма лота</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of lots">
                                <td><input type="checkbox" [(ngModel)]="item.IsChecked" (ngModelChange)="lotsClicked()" /></td>
                                <td>{{item.LotId}}</td>
                                <td>{{item.SupplierName}}</td>
                                <td>{{item.DebtorName}}</td>
                                <td>{{item.DZDays}}</td>
                                <td>{{item.DZPart}}%</td>
                                <td>{{item.LotYearPercent}}%</td>
                                <td>{{item.LotSum | CurrencyRur}} Р</td>
                                <td><paper-icon-button icon="search" title="{{ 'Просмотр' | translate }}" (click)="lot_details(item.LotId)"></paper-icon-button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

        <div class="range">
            <div class="cell-xs-12 cell-lg-6">
                <h4 class="text-regular text-primary text-dotted-blue pull-md-left " *ngIf="numOfSelectedLots>0">
                    {{numOfSelectedLots | LabelChooseLots}}
                </h4>
            </div>
            <div class="cell-xs-12 cell-md-6 cell-lg-3 offset-top-25 offset-lg-top-0">
                <button class="btn btn-block btn-curious-blue-outline " (click)="makeOfferClick()" [disabled]="numOfSelectedLots==0">
                    Встречная оферта
                </button>
            </div>
            <div class="cell-xs-12 cell-md-6 cell-lg-3 offset-top-25 offset-lg-top-0">
                <button class="btn btn-block btn-curious-blue offset-top-25 offset-xs-top-0 " (click)="acceptLots()" [disabled]="numOfSelectedLots==0">
                    Принять условия лотов
                </button>
            </div>
        </div>


    </section>


</div>

<paper-dialog id="acceptLotsDialog" style="width:400px;display:none">
    <h2>{{ 'Принять условия лотов' | translate }}</h2>
    <p>{{numOfSelectedLots | LabelChooseLots}}.</p>
    <paper-checkbox [(ngModel)]="newOffer.FullAccept" name="FullAccept">{{ 'согласиться с уловиями поставщика' | translate }}</paper-checkbox>
    <div class="buttons">
        <paper-button dialog-dismiss>{{ 'Отмена' | translate }}</paper-button>
        <paper-button dialog-confirm (click)="makeOffer()" [disabled]="!newOffer.FullAccept">{{ 'Принять' | translate }}</paper-button>
    </div>
</paper-dialog>

<paper-dialog id="addLotDialog" style="width:400px;display:none">
    <div class="range">
        <div class="cell-xs-12">
            <div class="range offset-top-25">
                <div class="cell-xs-12">
                    <h4 class="text-center">
                        Встречная офферта
                    </h4>
                </div>
            </div>

            <div class="range offset-top-25">
                <div class="cell-xs-12">
                    <div class="form-group">
                        <paper-input label="{{ 'Размер финансирования' | translate }}" [(ngModel)]="newOffer.DZPart" name="newLot_DZPart">
                            <div suffix>%</div>
                        </paper-input>
                    </div>
                </div>


            </div>

            <div class="range offset-top-25">

                <div class="cell-xs-12">
                    <div class="form-group">
                        <paper-input label="{{ 'Размер ставки' | translate }}" [(ngModel)]="newOffer.YearPercent" name="newLot_YearPercent">
                            <div suffix>%</div>
                        </paper-input>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <paper-button dialog-dismiss>{{ 'Отмена' | translate }}</paper-button>
        <paper-button dialog-confirm autofocus (click)="makeOffer()">{{ 'Создать' | translate }}</paper-button>
    </div>
</paper-dialog>

<paper-dialog id="addLotDialog11"  style="width:400px;display:none">
    <h2>{{ 'Встречная оферта' | translate }}</h2>
    <form>
        <paper-input label="{{ 'Размер финансирования' | translate }}" [(ngModel)]="newOffer.DZPart" name="newLot_DZPart">
            <div suffix>%</div>
        </paper-input>
        <paper-input label="{{ 'Размер ставки' | translate }}" [(ngModel)]="newOffer.YearPercent" name="newLot_YearPercent">
            <div suffix>%</div>
        </paper-input>
        <paper-checkbox [(ngModel)]="newOffer.FullAccept" name="FullAccept">{{ 'согласиться с уловиями поставщика' | translate }}</paper-checkbox>
    </form>
    <div class="buttons">
        <paper-button dialog-confirm autofocus (click)="make_offer()">{{ 'Создать' | translate }}</paper-button>
        <paper-button dialog-confirm autofocus>{{ 'Закрыть' | translate }}</paper-button>
    </div>
</paper-dialog>

<paper-toast id="theToast"></paper-toast>