@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}




<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
    <meta charset="utf-8">


    <link href="~/static/stylesheets/docs.css" rel="stylesheet">


</head>

<body>
    <div class="container">


        <div class="row">
            <div class="col span_12">

                <div class="property">
                    Приложение № 1.1 <br>
                    к Регламенту работы <br>
                    в информационной системе «Invoice Cafe» <br>
                    Редакция от «14» ноября 2016 г. №1 <br>

                </div>

            </div>
        </div>


        <div class="title center-block offset-top-25">
            АНКЕТА ПОТЕНЦИАЛЬНОГО УЧАСТНИКА <br>
            ИНФОРМАЦИОННОЙ СИСТЕМЫ «Invoice Cafe»
        </div>
        <p class="center-block text-center">
            (для юр. лица)
        </p>




        <div class="row offset-top-25">
            <div class="col span_6">
                Организационно – правовая форма и полное наименование юр. лица
            </div>
            <div class="col span_6">
                <div class="inset-left-15">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="row offset-top-25">
            <div class="col span_1">
                ИНН:
            </div>
            <div class="col span_5">

                <input type="text" class="form-control">

            </div>
            <div class="col span_1">
                <div class="inset-left-15">
                    ОГРН:
                </div>
            </div>
            <div class="col span_5">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row offset-top-35">
            <div class="col span_2">
                Контактное лицо:
            </div>
            <div class="col span_10">
                <div class="row">
                    <div class="col span_2">
                        Должность:
                    </div>
                    <div class="col span_3">

                        <input type="text" class="form-control">

                    </div>
                    <div class="col span_3">
                        <div class="inset-left-15">
                            ФИО:
                        </div>
                    </div>
                    <div class="col span_4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row offset-top-15">
                    <div class="col span_2">
                        Телефон:
                    </div>
                    <div class="col span_3">

                        <input type="text" class="form-control">

                    </div>
                    <div class="col span_3">
                        <div class="inset-left-15">
                            Адрес электронной почты:
                        </div>
                    </div>
                    <div class="col span_4">
                        <input type="text" class="form-control">
                    </div>
                </div>


                <div class="row offset-top-15">
                    <div class="col span_4">
                        Адрес сайта компании (при его наличии)
                    </div>
                    <div class="col span_8">

                        <input type="text" class="form-control">

                    </div>

                </div>
            </div>


        </div>

        <div class="row offset-top-35">
            <div class="col span_5">
                Является ли компания налоговым резидентом РФ?
            </div>
            <div class="col span_1">

                ДА

            </div>
            <div class="col span_1">

                НЕТ

            </div>

        </div>


        <div class="row offset-top-35">
            <div class="col span_6">
                В качестве кого регистрируется компания – «Категория участника»
            </div>
            <div class="col span_2">

                ИНВЕСТОР

            </div>
            <div class="col span_2">

                ПОСТАВЩИК

            </div>
            <div class="col span_2">

                ДЕБИТОР

            </div>

        </div>




        <div class="row offset-top-35">
            <div class="col span_3">
                Наличие у компании усиленной квалифицированной электронной подписи
            </div>
            <div class="col span_9">
                <div class="row">
                    <div class="col span_6">
                        В НАЛИЧИИ
                    </div>
                    <div class="col span_6">

                        НЕ ИМЕЕТСЯ

                    </div>

                </div>

                <div class="row offset-top-15">
                    <div class="col span_6">
                        Наименование УЦ выдавшего сертификат ключа
                    </div>
                    <div class="col span_6">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row offset-top-15">
                    <div class="col span_6">
                        Срок действия
                    </div>
                    <div class="col span_6">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
        </div>


        <div class="row offset-top-35">
            <div class="col span_4">
                Дата составления анкеты.
            </div>
            <div class="col span_4">
                <div class="inset-left-15">

                    ФИО лица, заполнившего анкету
                </div>
            </div>
            <div class="col span_4">
                <div class="inset-left-15">

                    Контактный телефон, лица заполнившего анкету.
                </div>
            </div>


        </div>
        <div class="row offset-top-15">
            <div class="col span_4">
                <input type="text" class="form-control">

            </div>
            <div class="col span_4">
                <div class="inset-left-15">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col span_4">
                <div class="inset-left-15">
                    <input type="text" class="form-control">
                </div>
            </div>


        </div>



        <div class="row">
            <div class="col span_12">
                <p class="offset-top-25">
                    Полноту, достоверность и актуальность представленных в настоящей Анкете сведений подтверждаю.
                </p>
                <p class="offset-top-15">
                    Об изменении указанных сведений обязуюсь незамедлительно сообщить Оператору Системы.
                </p>
                <p class="offset-top-15">
                    Настоящим подтверждаю согласие на обработку и проверку всех представленных сведений, в том числе
                    сведений об указанных физических лицах (руководителе, учредителях/участниках, представителях) в
                    соответствии с действующим законодательством, включая но, не ограничиваясь Федеральным Законом «О
                    персональных данных» N 152-ФЗ от 27.07.2006 г., Федеральным Законом «О кредитных историях» №218-ФЗ от
                    30.12.2004 г.
                </p>
            </div>
        </div>



    </div>

</body>
</html>

