<section data-on="false" data-lg-on="true" class="rd-parallax bg-river-bed">
    <div data-speed="0.65" data-type="media" data-url="/static/img/bg-image-2.jpg" class="rd-parallax-layer"></div>
    <div data-speed="0" data-type="html" class="rd-parallax-layer">
        <div class="shell text-center">
            <div class="range">
                <div class="cell-xs-12">
                    <div class="section-45 section-sm-top-60 section-sm-bottom-68">
                        <h2>@ViewBag.PageTitle</h2>
                        <hr class="hr-block hr-white" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a href="/Start/Index">@ViewBag.HomeTitle</a></li>
                    <li class="active">@ViewBag.PageTitle</li>
                </ul>
            </div>
        </div>
    </div>
</section>

