

<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">Кабинет поставщика</a></li>
                    <li><a routerLink="/SupplierHome/Contracts">Список контрактов</a></li>
                    <li class="active">Контракт №{{model.ContractNumber}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<form>
    <h5><span class="badge">1</span> Информация о контракте</h5>
    <div class="row">
        <div class="col-md-3">
            <paper-dropdown-menu label="Вид контракта" disabled>
                <paper-listbox class="dropdown-content" [selected]="model.ContractType">
                    <paper-item on-click="set_contract_type(0)">Поставки</paper-item>
                    <paper-item on-click="set_contract_type(1)">Оказания услуг</paper-item>
                    <paper-item on-click="set_contract_type(2)">Выполнения работ</paper-item>
                    <paper-item on-click="set_contract_type(3)">Иное</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>
        </div>
        <div class="col-md-3">
            <paper-input label="Номер контракта" [(ngModel)]="model.ContractNumber" name="ContractNumber" disabled></paper-input>
        </div>
        <div class="col-md-3">
            <vaadin-date-picker label="Дата заключения контракта" [(value)]="_dt[0]" id="DateOfSign" name="DateOfSign" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <vaadin-date-picker label="Начало контракта" [(value)]="_dt[1]" id="DateFrom" name="DateFrom" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
        <div class="col-md-3">
            <vaadin-date-picker label="Окончание контракта" [(value)]="_dt[2]" id="DateTo" name="DateTo" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
        <div class="col-md-3">
            <paper-input label="Срок действия, дней" [(ngModel)]="model.Duration" name="Duration" disabled></paper-input>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <paper-input label="Название контракта" [(ngModel)]="model.ContractName" name="ContractName" disabled></paper-input>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-6">
            <span style="font-family:'Roboto', 'Noto', sans-serif">Предмет договора</span><br />
            <iron-autogrow-textarea [(ngModel)]="model.ContractMatter" name="ContractMatter" rows="4" disabled></iron-autogrow-textarea>
        </div>
        <div class="col-md-6">
            <paper-dropdown-menu label="Способ поставки" disabled>
                <paper-listbox class="dropdown-content" selected="{{this.model.DeliveryType}}">
                    <paper-item on-click="set_delivery_type(0)">Самовывоз</paper-item>
                    <paper-item on-click="set_delivery_type(1)">Доставка</paper-item>
                    <paper-item on-click="set_delivery_type(2)">Иное</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <vaadin-date-picker label="Момент возникновения обязательств Дебитора" [(value)]="_dt[3]" id="DebtorObligationsDate" name="DebtorObligationsDate" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
        <div class="col-md-6">
            <vaadin-date-picker label="Момент исполнения обязательств Плательщика" [(value)]="_dt[4]" id="SupplierDeliveryDate" name="SupplierDeliveryDate" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <vaadin-date-picker label="Момент перехода права собственности" [(value)]="_dt[5]" id="PropertyRightsTransferDate" name="PropertyRightsTransferDate" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
    </div>

    <br />
    <h5><span class="badge">2</span> Условия контракта</h5>

    <div class="row">
        <div class="col-md-6">
            <span style="font-family:'Roboto', 'Noto', sans-serif">Условия по зачету однородных встречных требований</span><br />
            <iron-autogrow-textarea [(ngModel)]="model.CounterClaimTerms" name="CounterClaimTerms" rows="4" disabled></iron-autogrow-textarea>
        </div>
        <div class="col-md-6">
            <span style="font-family:'Roboto', 'Noto', sans-serif">Условия по возврату товара</span><br />
            <iron-autogrow-textarea [(ngModel)]="model.MoneyBackTerms" name="MoneyBackTerms" rows="4" disabled></iron-autogrow-textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <span style="font-family:'Roboto', 'Noto', sans-serif">Условия приемки товара</span><br />
            <iron-autogrow-textarea [(ngModel)]="model.AcceptanceTerms" name="AcceptanceTerms" rows="4" disabled></iron-autogrow-textarea>
        </div>
        <div class="col-md-6">
            <span style="font-family:'Roboto', 'Noto', sans-serif">Условия условия оплаты товара: форма, способы</span><br />
            <iron-autogrow-textarea [(ngModel)]="model.PaymentTerms" name="PaymentTerms" rows="4" disabled></iron-autogrow-textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <paper-checkbox [(ngModel)]="model.IsCessionAcceptable" name="IsCessionAcceptable" disabled>Возможность уступки</paper-checkbox>
        </div>
    </div>

    <h5><span class="badge">3</span> Лицо, подписавшее контракт со стороны Поставщика</h5>
    <div class="row">
        <div class="col-md-8">
            <paper-input label="ФИО" [(ngModel)]="model.SupplierSigner.FullName" name="SupplierSigner_FullName" disabled></paper-input>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <paper-input label="Наименование документа, подтверждающего полномочия" [(ngModel)]="model.SupplierSigner.AuthDocumentType" name="SupplierSigner_AuthDocumentType" disabled></paper-input>
        </div>
        <div class="col-md-4">
            <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.Guid}};{{model.SupplierSigner.AuthDocumentURL}}" target="_blank">
                <paper-icon-button icon="attachment" title="Просмотр документа"></paper-icon-button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <vaadin-date-picker label="Начало действия полномочий" [(value)]="_dt[6]" id="SupplierSigner_AuthDateFrom" name="SupplierSigner_AuthDateFrom" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
        <div class="col-md-4">
            <vaadin-date-picker label="Окончание действия полномочий" [(value)]="_dt[7]" id="SupplierSigner_AuthDateTo" name="SupplierSigner_AuthDateTo" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
    </div>

    <h5><span class="badge">4</span> Дебитор</h5>
    <div class="row">
        <div class="col-md-12">
            Наименование: <strong>{{model.Debtors[0].CompanyName}}</strong> ИНН: {{model.Debtors[0].INN}}
        </div>
    </div>

    <h5><span class="badge">5</span> Лицо, подписавшее контракт со стороны Дебитора</h5>
    <div class="row">
        <div class="col-md-8">
            <paper-input label="ФИО" [(ngModel)]="model.DebtorSigners[0].FullName" name="DebtorSigners0_FullName" disabled></paper-input>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <paper-input label="Наименование документа, подтверждающего полномочия" [(ngModel)]="model.DebtorSigners[0].AuthDocumentType" name="DebtorSigners0_AuthDocumentType" disabled></paper-input>
        </div>
        <div class="col-md-4">
            <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.Guid}};{{model.DebtorSigners[0].AuthDocumentURL}}" target="_blank">
                <paper-icon-button icon="attachment" title="Просмотр документа"></paper-icon-button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <vaadin-date-picker label="Начало действия полномочий" [(value)]="_dt[8]" id="DebtorSigners0_AuthDateFrom" name="DebtorSigners0_AuthDateFrom" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
        <div class="col-md-4">
            <vaadin-date-picker label="Окончание действия полномочий" [(value)]="_dt[9]" id="DebtorSigners0_AuthDateTo" name="DebtorSigners0_AuthDateTo" [i18n]="_dp_local" disabled></vaadin-date-picker>
        </div>
    </div>

    <h5><span class="badge">6</span> Зарегистрированные дебиторские задолженности</h5>
    <table class="table table-condensed" *ngIf="model.DZ && model.DZ.length>0">
        <tr>
            <th>Сумма</th>
            <th>Срок погашения</th>
            <th>Документы</th>
            <th>Статус</th>
            <th></th>
        </tr>
        <tr *ngFor="let dz of model.DZ; let i = index">
            <td>{{dz.Sum}}</td>
            <td>{{dz.Days}}</td>
            <td>
                <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.Guid}};{{dz.Id}};{{fName}}" target="_blank" *ngFor="let fName of dz.DocumentsURLs"><span  class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
            </td>
            <td>
                <span *ngIf="dz.Status==1">На согласовании</span>
                <span *ngIf="dz.Status==5">Согласовано</span>
            </td>
            <td>
                <span *ngIf="dz.Status==5" class="glyphicon glyphicon-plus" aria-hidden="true" title="Создать лот" (click)="add_lot_click(i)"></span>
            </td>
        </tr>
    </table>

    <p>&nbsp;</p>
    <ul>
        <li *ngFor="let message of errorMessages" class="alert-danger">{{message}}</li>
    </ul>
    <paper-card heading="Добавление дебиторской задолженности" style="width:800px">
        <div class="card-content">

            <div class="row">
                <div class="col-md-4">
                    <paper-input label="Сумма требований" [(ngModel)]="newDZ.Sum" name="newDZ_Sum">
                        <div suffix>руб.</div>
                    </paper-input>
                </div>
                <div class="col-md-6">
                    <paper-input label="Срок погашения задолженности" [(ngModel)]="newDZ.Days" name="newDZ_Days">
                        <div suffix>дней</div>
                    </paper-input>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <paper-input label="Тип документа, подтверждающего задолженность" [(ngModel)]="newDZ.DocumentName" name="newDZ_DocumentName"></paper-input>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <br />
                    <label>Скан-копии документов:</label>
                </div>
                <div class="col-md-7">
                    <vaadin-upload max-files="5" max-file-size="50000000"
                                   id="DZ_Scans"
                                   target="/api/service/uploadfile"
                                   method="POST"
                                   accept=".pdf,image/*"
                                   timeout=300000
                                   (file-reject)="upl_reject($event)" (upload-success)="after_file_upload($event)"
                                   [i18n]="_upl_local">
                        <div class="drop-label">
                            <iron-icon icon="file-upload"></iron-icon>
                            Перетяните файл сюда.. (до 5 файлов, до 50Мб)
                        </div>
                    </vaadin-upload>
                </div>
            </div>

        </div>
        <div class="card-actions">
            <paper-button (click)="add_dz()">Добавить</paper-button>
        </div>
    </paper-card>
    <p>&nbsp;</p>

</form>

<paper-dialog id="addLotDialog" modal>
    <h2>Заявка на добавление лота</h2>
    <form>
                <paper-input label="Сумма задолженности" [(ngModel)]="newLot.Sum" name="newLot_Sum">
                    <div suffix>руб.</div>
                </paper-input>
                <paper-input label="Желаемый размер финансирования" [(ngModel)]="newLot.DZPart" name="newLot_DZPart">
                    <div suffix>%</div>
                </paper-input>
                <paper-input label="Желаемый размер ставки" [(ngModel)]="newLot.YearPercent" name="newLot_YearPercent">
                    <div suffix>%</div>
                </paper-input>
    </form>
    <div class="buttons">
        <paper-button dialog-confirm autofocus (click)="add_lot()">Создать лот</paper-button>
        <paper-button dialog-confirm autofocus>Закрыть</paper-button>
    </div>
</paper-dialog>

<paper-toast id="theToast"></paper-toast>