<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">{{ 'Кабинет поставщика' | translate }}</a></li>
                    <li class="active">{{ 'Сделки' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section-top-0 section-bottom-60">

    <table class="table table-athens-gray">
        <thead>
            <tr>
                <th>{{ 'Дата сделки' | translate }}</th>
                <th>{{ 'Поставщик' | translate }}</th>
                <th>{{ 'Дебитор' | translate }}</th>
                <th>{{ 'Сумма лота' | translate }}</th>
                <th>{{ 'Статус' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let deal of deals">
                <td>{{deal.CreationDate | date}}</td>
                <td>{{deal.Supplier.CompanyName}}</td>
                <td>{{deal.Debtor.CompanyName}}</td>
                <td>{{deal.DZ.Days}}</td>
                <td>{{deal.Sum | CurrencyRur}}</td>
                <td>{{deal.Status}}</td>
            </tr>
    </table>
</section>
