<template [ngIf]="currentStep==1">
    <section class="section-top-55 hidden-xs hidden-sm">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12 cell-md-preffix-1 cell-md-10">
                    <div class="reg-steps reg-steps-variant-1 ">

                        <div class="b b1 active"></div>
                        <div class="b b2"></div>
                        <div class="b b3"></div>



                        <div class="rounds">
                            <div class="s s1 complete">
                                <div class="r r1 complete"></div>

                            </div>
                            <div class="s s2 active">
                                <div class="r r2 active"></div>

                            </div>
                            <div class="s s3">
                                <div class="r r3"></div>

                            </div>
                            <div class="s s4">
                                <div class="r r4"></div>

                            </div>

                        </div>
                        <div class="texts">
                            <div class="t t1 complete">Первый шаг</div>
                            <div class="t t2 active">Детали о компании</div>
                            <div class="t t3">Документация</div>
                            <div class="t t4 ">Завершение регистрации</div>

                        </div>




                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="section-45">
        <div class="shell">



            <div class="range">


                <div class="cell-xs-12 cell-sm-6 ">


                    <h3>Детали о компании</h3>
                    <p>
                        Подробные сведения о вашей компании помогут определить какой рамер
                        финансирования мы сможем Вам предложить
                    </p>
                </div>

                <div class="cell-xs-12 cell-sm-6">


                    <form class="form1 rd-mailform-label-outside text-left offset-top-15">
                        <div class="range">
                            <div class="cell-xs-12">

                                <div class="form-group">
                                    <paper-input label="{{ 'Размер годового оборота, руб.' | translate }}" [(ngModel)]="model.AnnualTurnover" name="AnnualTurnover"></paper-input>
                                </div>





                                <div class="form-group">
                                    <paper-input label="{{ 'Сфера деятельности' | translate }}" [(ngModel)]="model.FieldOfActivity" name="FieldOfActivity"></paper-input>
                                </div>


                                <div class="form-group">
                                    <paper-input label="{{ 'Ваш веб-сайт' | translate }}" [(ngModel)]="model.WebSite" name="WebSite"></paper-input>
                                </div>




                                <div class="form-group">
                                    <label for="f1-biz-bg">
                                        Количество контрагентов
                                    </label>

                                </div>
                                
                                <div class="offset-top-15">
                                    <paper-radio-group aria-labelledby="label1" selected="Opt1">
                                        <paper-radio-button name="Opt1" (click)="set_caNum(1)">1-4</paper-radio-button>
                                        <paper-radio-button name="Opt2" (click)="set_caNum(2)">5-10</paper-radio-button>
                                        <paper-radio-button name="Opt3" (click)="set_caNum(3)">11-20</paper-radio-button>
                                        <paper-radio-button name="Opt4" (click)="set_caNum(4)">{{ 'больше' | translate}} 20</paper-radio-button>
                                    </paper-radio-group>
                                </div>



                                <div class="form-group offset-top-25">
                                    <label for="f1-biz-bg">
                                        Кто ваши контрагенты?
                                    </label>

                                </div>

                                <div class="offset-top-15">
                                    <paper-radio-group aria-labelledby="label1" selected="Opt1">
                                        <paper-radio-button name="Opt1" (click)="set_caType(1)">{{ 'Малый бизнес' | translate}}</paper-radio-button>
                                        <paper-radio-button name="Opt2" (click)="set_caType(2)">{{ 'Средний бизнес' | translate}}</paper-radio-button>
                                        <paper-radio-button name="Opt3" (click)="set_caType(3)">{{ 'Крупный бизнес' | translate}}</paper-radio-button>
                                    </paper-radio-group>
                                </div>


                                <div class="offset-top-15 ">

                                    <label class="ic-label">
                                        Укажите преимущественно тех, кому поставляете
                                        продукцию/предоставляете свои услуги
                                    </label>
                                </div>

                                <div class="form-group">
                                    <div class="range offset-top-25">
                                        <div class="cell-xs-12 cell-md-6">
                                            <label class="ic-label">Есть ли у вашей компании овердрафт?</label>
                                            <div class="offset-top-10">
                                                <paper-checkbox [(ngModel)]="model.HasOverdraft" name="HasOverdraft">{{ 'Да' | translate }}</paper-checkbox>
                                            </div>
                                        </div>
                                        <div class="cell-xs-12 cell-md-6">
                                            <label class="ic-label">Пользовались ли услугами факторинга? </label>
                                            <div class="offset-top-10">
                                                <paper-checkbox [(ngModel)]="model.UsedFactoring" name="UsedFactoring">{{ 'Да' | translate }}</paper-checkbox>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="range offset-top-25">


                            <div class="cell-xs-12 cell-md-8 cell-md-preffix-4">
                                <button type="button" (click)="moveToStep(2)"
                                        class="btn btn-sm btn-curious-blue btn-block ">
                                    Следующий шаг
                                </button>
                                <label class="ic-label">все поля обязательны для заполнения</label>
                            </div>
                        </div>

                    </form>


                </div>
            </div>


        </div>
    </section>
</template>

<template [ngIf]="currentStep==2">
    <section class="section-top-55 hidden-xs hidden-sm">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12 cell-md-preffix-1 cell-md-10">
                    <div class="reg-steps reg-steps-variant-1 ">

                        <div class="b b1 active"></div>
                        <div class="b b2 active"></div>
                        <div class="b b3"></div>



                        <div class="rounds">
                            <div class="s s1 complete">
                                <div class="r r1 complete"></div>

                            </div>
                            <div class="s s2 complete">
                                <div class="r r2 complete"></div>

                            </div>
                            <div class="s s3 active">
                                <div class="r r3 active"></div>

                            </div>
                            <div class="s s4">
                                <div class="r r4"></div>

                            </div>

                        </div>
                        <div class="texts">
                            <div class="t t1 complete">Первый шаг</div>
                            <div class="t t2 complete">Детали о компании</div>
                            <div class="t t3 active">Документация</div>
                            <div class="t t4 ">Завершение регистрации</div>

                        </div>




                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="section-45">
        <div class="shell">
            <div class="range">


                <div class="range ">
                    <div class="cell-xs-12 ">
                        <h3>
                            Документация
                        </h3>
                        <p>
                            Пара слов о том, зачем мы просим документацию
                        </p>
                    </div>


                </div>
                <div class="range">
                    <div class="cell-xs-12">
                        <form method="post"
                              class="form2 rd-mailform-label-outside text-left offset-top-15"
                              novalidate="novalidate">
                            <div class="range">

                                <div class="cell-xs-12 cell-sm-6 ">
                                    <h4>
                                        Компания
                                    </h4>
                                    <div class="offset-top-15"></div>
                                    <template ngFor let-item [ngForOf]="dict.SignFormCompanyDocuments">
                                        <div class="form-group ">
                                            <label class="ic-label" for="">
                                                {{item.DocTitle | translate }}
                                            </label>

                                            <vaadin-upload max-files="1" max-file-size="20000000"
                                                           [id]="item.DocFieldName"
                                                           target="/api/service/uploadfile"
                                                           method="POST"
                                                           accept=".pdf,image/*"
                                                           timeout=300000
                                                           (file-reject)="upl_reject($event)" (upload-success)="after_file_upload($event)"
                                                           [i18n]="_upl_local">

                                                <div class="drop-label">
                                                    <iron-icon icon="file-upload"></iron-icon>
                                                    {{ 'Перетяните файл сюда.. (до' | translate }} {{item.MaxFileSize/1000000}}{{ 'Мб)' | translate }}
                                                </div>
                                            </vaadin-upload>
                                        </div>
                                    </template>

                                    <div class="form-group" *ngIf="currentCompany.LegalForm=='OAO' || currentCompany.LegalForm=='ZAO'">
                                        <label class="ic-label" for="">
                                            {{ 'Выписка из реестра акционеров, выписки по счетам депо номинальных держателей' | translate }}
                                        </label>

                                        <vaadin-upload max-files="1" max-file-size="10000000"
                                                       id="ScanURL_vypiska"
                                                       target="/api/service/uploadfile"
                                                       method="POST"
                                                       accept=".pdf,image/*"
                                                       timeout=300000
                                                       (file-reject)="upl_reject($event)" (upload-success)="after_file_upload($event)"
                                                       [i18n]="_upl_local">
                                            <div class="drop-label">
                                                <iron-icon icon="file-upload"></iron-icon>
                                                {{ 'Перетяните файл сюда.. (до' | translate }}  100{{ 'Мб)' | translate }}
                                            </div>
                                        </vaadin-upload>
                                    </div>
                                </div>

                                <div class="cell-xs-12 cell-sm-6">
                                    <h4>
                                        Руководитель
                                    </h4>

                                    <div class="form-group offset-top-15">
                                        <paper-input label="{{ 'ФИО' | translate }}" [(ngModel)]="model.DirectorFullName" name="DirectorFullName"></paper-input>
                                    </div>
                                    <div class="form-group">
                                        <vaadin-date-picker label="{{ 'Дата рождения' | translate }}" [(value)]="model.DirectorBDate" id="DirectorBDate" name="DirectorBDate" [i18n]="_dp_local"></vaadin-date-picker>
                                    </div>
                                    <div class="form-group">
                                        <paper-input label="{{ 'Место рождения' | translate }}" [(ngModel)]="model.DirectorPlaceOfBirth" name="DirectorPlaceOfBirth"></paper-input>
                                    </div>

                                    <div class="form-group" style="padding-top:42px">
                                        <label for="f2-citizenship"
                                               class="form-label-outside">{{ 'Гражданство' | translate }}:</label>
                                        <paper-radio-group aria-labelledby="label1" selected="RF_Yes">
                                            <paper-radio-button name="RF_Yes" (click)="set_citizenship('RF_Yes')">{{ 'РФ' | translate }}</paper-radio-button>
                                            <paper-radio-button name="RF_No" (click)="set_citizenship('RF_No')">{{ 'другое' | translate }}</paper-radio-button>
                                        </paper-radio-group>
                                    </div>

                                    <div class="form-group" *ngIf="model.DirectorCitizenship != 'РФ' && model.DirectorCitizenship != 'Russia'">
                                        <paper-input label="{{ 'Гражданство' | translate }}" [(ngModel)]="model.DirectorCitizenship" name="DirectorCitizenship"></paper-input>
                                    </div>
                                    <div class="form-group" *ngIf="model.DirectorCitizenship != 'РФ' && model.DirectorCitizenship != 'Russia'">
                                        <label class="ic-label" for="">
                                            {{ 'Миграционные документы по трудоустройству' | translate }}
                                        </label>
                                        <vaadin-upload max-files="1" max-file-size="20000000"
                                                       id="ScanURL_migrdocs"
                                                       target="/api/service/uploadfile"
                                                       method="POST"
                                                       accept=".pdf,image/*"
                                                       timeout=300000
                                                       (file-reject)="upl_reject($event)" (upload-success)="after_file_upload($event)"
                                                       [i18n]="_upl_local">
                                            <div class="drop-label">
                                                <iron-icon icon="file-upload"></iron-icon>
                                                {{ 'Перетяните файл сюда.. (до' | translate }} 20{{ 'Мб)' | translate }}
                                            </div>
                                        </vaadin-upload>
                                    </div>

                                    <template ngFor let-item [ngForOf]="dict.SignFormManagerDocuments">
                                        <div class="form-group " *ngIf="item.ShowInInputList">
                                            <label class="ic-label" for="">
                                                {{item.DocTitle | translate }}
                                            </label>

                                            <vaadin-upload max-files="1" max-file-size="20000000"
                                                           [id]="item.DocFieldName"
                                                           target="/api/service/uploadfile"
                                                           method="POST"
                                                           accept=".pdf,image/*"
                                                           timeout=300000
                                                           (file-reject)="upl_reject($event)" (upload-success)="after_file_upload($event)"
                                                           [i18n]="_upl_local">

                                                <div class="drop-label">
                                                    <iron-icon icon="file-upload"></iron-icon>
                                                    {{ 'Перетяните файл сюда.. (до' | translate }} {{item.MaxFileSize/1000000}}{{ 'Мб)' | translate }}
                                                </div>
                                            </vaadin-upload>
                                        </div>
                                    </template>
                                    <!--<div class="form-group ">
                                        <vaadin-combo-box label="{{ 'Тарифный план' | translate }}"
                                                          [items]="dict.TARIF_SELLER"
                                                          item-label-path="Value"
                                                          item-value-path="Id"
                                                          (selected-item-changed)="set_tarif($event.detail.value)">
                                        </vaadin-combo-box>
                                    </div>-->

                                    <div class="range">
                                        <div class="cell-xs-12 cell-lg-6">


                                        </div>

                                        <div class="cell-xs-12 cell-lg-6 offset-top-25 offset-lg-top-0">
                                            <button type="button" (click)="submit_click()"
                                                    class="btn btn-sm btn-curious-blue btn-block ">
                                                Завершить регистрацию
                                            </button>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </form>
                    </div>
                </div>


            </div>
        </div>
    </section>
</template>

<template [ngIf]="currentStep==3">
    <section class="section-top-55 hidden-xs hidden-sm">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12 cell-md-preffix-1 cell-md-10">
                    <div class="reg-steps reg-steps-variant-1 ">

                        <div class="b b1 active"></div>
                        <div class="b b2 active"></div>
                        <div class="b b3 active"></div>



                        <div class="rounds">
                            <div class="s s1 complete">
                                <div class="r r1 complete"></div>

                            </div>
                            <div class="s s2 complete">
                                <div class="r r2 complete"></div>

                            </div>
                            <div class="s s3 complete">
                                <div class="r r3 complete"></div>

                            </div>
                            <div class="s s4 active">
                                <div class="r r4 active"></div>

                            </div>

                        </div>
                        <div class="texts">
                            <div class="t t1 complete">Первый шаг</div>
                            <div class="t t2 complete">Детали о компании</div>
                            <div class="t t3 complete">Документация</div>
                            <div class="t t4 active">Завершение регистрации</div>

                        </div>




                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="section-45">
        <div class="shell">
            <div class="range">
                <div class="range">
                    <div class="cell-xs-12 cell-md-6 cell-md-preffix-3">
                        <div class="text-center">
                            <div class="icon icon-image">
                                <img src="../../static/img/svg/checkmark.svg" alt=""
                                     width="41" height="36">
                            </div>
                            <h3>
                                Спасибо за регистрацию!
                            </h3>
                            <p>
                                В ближайшее время мы ознакомимся
                                с вашей заявкой и предоставим доступ к торгам
                            </p>
                            <a href="/{{dict.get_HOME_PATH(currentCompany.AgentType)}}/Index" class="btn btn-sm btn-curious-blue ">Вернуться на главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<paper-toast id="theToast"></paper-toast>
