@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{
    Layout = "_StartLayout";
}


<main class="page-content">
    <!-- Main services-->

    @await Html.PartialAsync("StartPartials/_StartInnerTitlePartial")


    <section class="section-top-35 section-bottom-50 section-sm-bottom-125 bg-white">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12 cell-md-8 cell-lg-9">
                    <p>The section is under constraction</p>
                    </div>
                </div>
            </div>
    </section>


</main><!-- Brands carousel-->
