@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{
    Layout = "_StartLayout";
}


<main class="page-content">
    <!-- Main services-->

    @await Html.PartialAsync("StartPartials/_StartInnerTitlePartial")

    @await Html.PartialAsync("StartPartials/_StartCalcPartial", "bg-white")
    
    <!-- Accordion-->
    <section class="section-top-35 section-bottom-50 section-sm-bottom-125 bg-alabaster">
        <div class="shell">
            <div class="range range-sm-center">
                <div class="cell-xs-12 cell-lg-10">
                    <h3 class="text-center">FAQs</h3>
                    <div data-type="accordion" class="responsive-tabs responsive-tabs-variant-2">
                        <ul class="resp-tabs-list">
                            <li>How and when do I get paid?</li>
                            <li>What happens if my customer pays late?</li>
                            <li>Is there a charge if my invoices aren’t bought?</li>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="fadeIn animated">
                                When your invoice is sold in one of our two daily sessions (12pm and 5pm) the advanced money, funded by our investors (up to 90% of invoice face value) will be forwarded in to your business bank account within 24 hours.
                            </div>
                            <div class="fadeIn animated">
                                When you upload invoices to sell there’s an option to record the payment date and the expected payment date. In the unlikely event that your invoice is overdue please communicate with us regularly and we’ll do our best to help. If your customer hasn’t paid within 45 days of the invoice due date, we will contact you to arrange for you to repay, if we haven’t already done so.
                            </div>
                            <div class="fadeIn animated">
                                If your invoice isn’t bought, you won’t be charged. So far there’s never been an instance where invoices uploaded to our platform have not been bought.
                            </div>
                        </div>
                    </div>

                    <div class="elements-group offset-top-38">
                        <a href="/Start/Register" class="btn btn-sm btn-curious-blue-outline center-block">Apply now</a>
                    </div>



                </div>
            </div>
        </div>
    </section>


    <section data-on="false" data-lg-on="true" class="rd-parallax bg-gray-darker">
        <div data-speed="0.5" data-type="media" data-url="/static/img/bg-image-1.jpg"
             class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell text-center text-md-left">
                <div class="range">
                    <div class="cell-xs-12">
                        <div class="section-45 section-sm-top-85 section-sm-bottom-75">
                            <div class="elements-group">
                                <div class="element-wrap">
                                    <h3 class="relative-shift-up-10 noshrink">@Localizer["Пора действовать!"]</h3>
                                    <div class="hr-wrap offset-top-10 offset-sm-top-15 offset-md-top-0">
                                        <hr class="hr-md-vertical hr-white">
                                    </div>
                                    <p class="big">@Localizer["Возьмите под контроль ваши оборотные средства!"]</p>
                                </div>
                                <div class="element-wrap">
                                    <a href="/Start/Register"
                                       class="btn btn-sm btn-curious-blue-variant-1 min-width-160">
                                        @Localizer["Попробовать бесплатно"]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>









</main><!-- Brands carousel-->
