@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{
    Layout = "_StartLayout";
}
@await Html.PartialAsync("_CommonIncludesPartial")
<script>
        document.addEventListener('WebComponentsReady', function () {
            System.import('/app/register/boot.js').catch(function (err) { console.error(err); });
        });
</script>

<!-- Page Content-->
<main class="page-content">

    @await Html.PartialAsync("StartPartials/_StartInnerTitlePartial")

    <!-- Layouts-->
    <ic-register _lang="@ViewBag.CurrentLanguage" agentType="@ViewBag.AgentType">
        <div class="shell">


            <section class="section-50">

                <div class="ic-preloader">

                </div>
            </section>


        </div>
    </ic-register>

</main>