@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer Localizer

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
<head>
    <!-- Site Title-->
    <title>InvoiceCafe</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1" />
    <meta charset="utf-8">
    <base href="/" />

    <link rel="icon" href="~/static/img/favicon.ico" type="image/x-icon"><!-- Stylesheets-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <link href="~/static/stylesheets/style_p.css" rel="stylesheet">

    @await Html.PartialAsync("_CommonIncludesPartial")
    <script>
        document.addEventListener('WebComponentsReady', function () {
            System.import('/app/test/boot.js').catch(function (err) { console.error(err); });
        });
    </script>
</head>


<body>
    <!-- Page-->
    <div class="page   private ">
        <!-- Page Header-->
        <!-- Page Content-->
        <main class="page-content">


            <!-- Layouts-->
            <ic-test _lang="@ViewBag.CurrentLanguage" agentType="@ViewBag.AgentType">
                <div class="shell">


                    <section class="section-50">

                        <div class="ic-preloader">

                        </div>
                    </section>


                </div>
            </ic-test>

        </main>
        <!-- Page Footer-->
        <footer class="page-foot">




            <section class="section-14 bg-ebony-clay">
                <div class="shell text-center">
                    <p class="rights">
                        &#169;&nbsp;<span id="copyright-year"></span>&nbsp;InvoiceCafé
                    </p>
                </div>
            </section>
        </footer>

    </div>
    <div id="form-output-global" class="snackbars"></div>

    <script src="~/libs/bower_components/moment/min/moment.min.js"></script>
    <script src="~/libs/bower_components/jquery/dist/jquery.min.js"></script>

    <script src="~/static/js/device.js"></script>
    <script src="~/static/js/easyresponsivetabs.js"></script>
    <script src="~/static/js/rd_navbar.js"></script>
    <script src="~/static/js/progress_bar.js"></script>

</body>
</html>
