        <!-- Swiper-->
<div data-min-height="400px" class="swiper-container swiper-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide bg-gray-lighter">
            <img src="images/home-slide-1.jpg" alt="" width="1" />
            <div class="swiper-slide-caption">
                <!-- Solutions that never miss the aim-->
                <section class="section-68 section-sm-top-125 section-sm-bottom-152 section-lg-top-152 section-lg-bottom-235">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-xs-12 cell-md-preffix-1 cell-xl-preffix-0">
                                <h1>Solutions that<br>never miss the aim</h1>
                                <div class="group-md offset-top-25"><a href="#" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">Learn More</a><a href="services.html" class="btn btn-sm btn-gray-darker-outline min-width-160">Our Services</a></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="swiper-slide bg-gray-darker">
            <img src="images/home-slide-2.jpg" alt="" width="2" />
            <div class="swiper-slide-caption">
                <!-- Solutions that never miss the aim-->
                <section class="section-68 section-sm-top-125 section-sm-bottom-152 section-lg-top-125 section-lg-bottom-235">
                    <div class="shell text-center text-sm-left">
                        <div class="range">
                            <div class="cell-xs-12 cell-md-preffix-1 cell-xl-preffix-0">
                                <h1>Expert Financial Advice</h1>
                                <p class="big">With over 20 years of experience we'll ensure<br class="veil reveal-sm-block">you always get the best guidance</p>
                                <div class="group-md offset-top-25"><a href="services.html" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">Our Services</a><a href="#" class="btn btn-sm btn-sm-mod btn-white-outline min-width-160">Purchase now</a></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Swiper Navigation-->
    <div class="swiper-nav">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<!-- Page Content-->
<main class="page-content">
    <!-- Main services-->
    <section class="section-top-60 section-bottom-55">
        <div class="shell">
            <div class="range range-sm-center">
                <div class="cell-xs-12 cell-sm-5 cell-lg-3">
                    <div class="product">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner"><span class="icon icon-md-variant-2 icon-primary fl-sympletts-coin18"></span></div>
                        </div>
                        <h4><a href="#">Financial Planning</a></h4>
                        <p>
                            We'll help you make
                            sensible decisions about
                            money that can help you
                            achieve your goals in life.

                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-sm-top-0">
                    <div class="product">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner"><span class="icon icon-md-variant-2 icon-primary fl-sympletts-coffee2"></span></div>
                        </div>
                        <h4><a href="#">Retirement Planning</a></h4>
                        <p>
                            Use our strategies and
                            retirement advice, including retirement  calculators
                            to help you retire faster.

                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                    <div class="product product-inset-1">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="images/icon-chart-41x36.png" alt="" width="41" height="36" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Risk Management</a></h4>
                        <p>
                            Risk management is intended
                            to manage financial and other
                            losses associated with risks
                            to your assets or business.

                        </p>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-5 cell-lg-3 offset-top-56 offset-lg-top-0">
                    <div class="product product-inset-1">
                        <div class="icon-decoration-border">
                            <div class="icon-decoration-border-inner">
                                <div class="icon icon-image">
                                    <img src="images/icon-case-42x39.png" alt="" width="42" height="39" />
                                </div>
                            </div>
                        </div>
                        <h4><a href="#">Taxation</a></h4>
                        <p>
                            Tax planning considers the
                            tax implications of business
                            decisions, usually with the goal
                            of minimizing tax liability.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- What We Do-->
    <section data-on="false" data-lg-on="true" class="rd-parallax bg-gray-darker">
        <div data-speed="0.5" data-type="media" data-url="images/bg-image-2.jpg" class="rd-parallax-layer"></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell text-center text-md-left">
                <div class="range">
                    <div class="cell-xs-12">
                        <div class="section-45 section-sm-top-85 section-sm-bottom-75">
                            <div class="elements-group">
                                <div class="element-wrap">
                                    <h2 class="relative-shift-up-5 noshrink">What We Do</h2>
                                    <div class="hr-wrap offset-top-10 offset-sm-top-15 offset-md-top-0">
                                        <hr class="hr-md-vertical hr-white">
                                    </div>
                                    <p class="big">We provide expert financial advice for businesses and individuals</p>
                                </div>
                                <div class="element-wrap"><a href="services.html" class="btn btn-sm btn-curious-blue-variant-1 min-width-160">See All Services</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us-->
    <section class="section-35 section-sm-68">
        <div class="shell">
            <div class="range text-center">
                <div class="cell-xs-12">
                    <h2>About Us</h2>
                    <hr class="hr-block hr-curious-blue">
                </div>
            </div>
            <div class="range range-sm-center range-md-reverse offset-top-25 offset-sm-top-56">
                <div class="cell-xs-12 cell-sm-9 cell-md-6">
                    <div class="inset-md-left-30 inset-md-right-30 inset-md-left-70 inset-md-right-70 offset-top-10">
                        <h4 class="text-bold"><a href="about.html">Doing the right thing, at the right time.</a></h4>
                        <p>
                            Welcome to the leading company on the market! Our success
                            is driven by the highest quality customer service. We can meet the requirements even of the whimsical clients; there are no complex tasks for us! Thanks for your choice! Our company can boast the reputation of the trusted partner known worldwide. We are proud
                            of the uncompromising quality of services
                        </p><a href="about.html" class="btn btn-sm btn-curious-blue-outline btn-outline-thin">Read More</a>
                    </div>
                </div>
                <div class="cell-xs-12 cell-sm-9 cell-md-6 offset-top-56 offset-md-top-0">
                    <div class="responsive-tabs responsive-tabs-horizontal responsive-tabs-default">
                        <ul class="resp-tabs-list">
                            <li>Facts</li>
                            <li>Advantages</li>
                            <li>Skills</li>
                        </ul>
                        <div class="resp-tabs-container">
                            <div class="fadeIn animated">
                                <p>
                                    Our company is your one stop solution for all needs. There is no doubt that we
                                    are the leaders and you don't have to worry about our image because it is perfect.
                                </p>
                                <ul class="list-flex">
                                    <li>
                                        <p class="count">275</p>
                                        <p class="text-gray-base">Cases completed</p>
                                    </li>
                                    <li>
                                        <p class="count">19</p>
                                        <p class="text-gray-base">Consultants</p>
                                    </li>
                                    <li>
                                        <p class="count">130</p>
                                        <p class="text-gray-base">Awards won</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="fadeIn animated">
                                <p>
                                    Our company is your one stop solution for all needs. There is no doubt that we
                                    are the leaders and you don't have to worry about our image because it is perfect.
                                </p>
                                <ul class="list-flex">
                                    <li>
                                        <p class="count">275</p>
                                        <p class="text-gray-base">Cases completed</p>
                                    </li>
                                    <li>
                                        <p class="count">19</p>
                                        <p class="text-gray-base">Consultants</p>
                                    </li>
                                    <li>
                                        <p class="count">130</p>
                                        <p class="text-gray-base">Awards won</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="fadeIn animated">
                                <p>
                                    Our company is your one stop solution for all needs. There is no doubt that we
                                    are the leaders and you don't have to worry about our image because it is perfect.
                                </p>
                                <ul class="list-flex">
                                    <li>
                                        <p class="count">275</p>
                                        <p class="text-gray-base">Cases completed</p>
                                    </li>
                                    <li>
                                        <p class="count">19</p>
                                        <p class="text-gray-base">Consultants</p>
                                    </li>
                                    <li>
                                        <p class="count">130</p>
                                        <p class="text-gray-base">Awards won</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Loan Calculator-->
    <section class="section-45 section-sm-top-0 section-sm-bottom-0">
        <div class="shell">
            <div class="range range-md-reverse">
                <div class="cell-xs-12 cell-sm-7 cell-md-5">
                    <figure class="image-wrap image-wrap-1 bg-athens-gray-inner">
                        <img src="images/home-2-552x654.png" alt="" width="552" height="654" />
                    </figure>
                </div>
                <div class="cell-xs-12 cell-md-7 shift-up-36 shift-up-sm-0">
                    <div class="calculator-wrap block-top-level">
                        <h2>Loan Calculator</h2>
                        <hr class="hr-block hr-left hr-curious-blue">
                        <form class="form-calculator">
                            <div class="group-equal">
                                <div class="form-group">
                                    <label for="loan-amount" class="form-label-outside">Loan Amount</label>
                                    <input id="loan-amount" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="residual-value" class="form-label-outside">Residual Value</label>
                                    <input id="residual-value" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="group-equal">
                                <div class="form-group">
                                    <label for="interest-rate" class="form-label-outside">Interest Rate %</label>
                                    <input id="interest-rate" type="text" value="7.5" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="number-of-months" class="form-label-outside">Number of Months</label>
                                    <input id="number-of-months" type="text" value="7.5" class="form-control">
                                </div>
                            </div>
                        </form>
                        <p class="small offset-top-30">Results based in the data entered above:</p>
                        <form class="form-calculator offset-top-30">
                            <div class="group-equal">
                                <div class="form-group">
                                    <label for="monthly-payment" class="form-label-outside">Monthly Payment</label>
                                    <input id="monthly-payment" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="interest-amount" class="form-label-outside">Interest Amount</label>
                                    <input id="interest-amount" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="group-equal">
                                <div class="form-group total">
                                    <label for="total-payment" class="form-label-outside">Total Payment</label>
                                    <input id="total-payment" type="text" class="form-control">
                                </div>
                                <div class="placeholder">&nbsp;</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials-->
    <section class="section-50 section-sm-top-68">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12 text-center">
                    <h2>Testimonials</h2>
                    <hr class="hr-block hr-curious-blue">
                </div>
                <div class="cell-xs-12 offset-top-34 offset-sm-top-25">
                    <!-- Owl Carousel-->
                    <div data-items="1" data-sm-items="2" data-md-items="3" data-stage-padding="30" data-margin="20" data-sm-stage-padding="1px" data-sm-margin="30" data-md-margin="15" data-lg-margin="66" data-nav="true" class="owl-carousel owl-spacing-1">
                        <div class="item item-inset">
                            <blockquote class="quote-variant-1">
                                <div class="quote-header">
                                    <img src="images/home-4-72x72.jpg" alt="" width="72" height="72" />
                                </div>
                                <div class="quote-body">
                                    <q>
                                        Hi, guys! You've solved my
                                        problem in no time! Your efficient
                                        services and customer care are second to none!

                                    </q>
                                </div>
                                <div class="quote-meta">
                                    <cite>Adam Watson</cite>
                                    <p class="text-gray-light">(CEO & Founder)</p>
                                </div>
                            </blockquote>
                        </div>
                        <div class="item item-inset">
                            <blockquote class="quote-variant-1">
                                <div class="quote-header">
                                    <img src="images/home-5-72x72.jpg" alt="" width="72" height="72" />
                                </div>
                                <div class="quote-body">
                                    <q>
                                        Wow, I'm so happy with
                                        your service. You managed
                                        to exceed my expectations!
                                        You guys are very efficient.

                                    </q>
                                </div>
                                <div class="quote-meta">
                                    <cite>Louise Smith</cite>
                                    <p class="text-gray-light">(CEO & Founder)</p>
                                </div>
                            </blockquote>
                        </div>
                        <div class="item item-inset">
                            <blockquote class="quote-variant-1">
                                <div class="quote-header">
                                    <img src="images/home-6-72x72.jpg" alt="" width="72" height="72" />
                                </div>
                                <div class="quote-body">
                                    <q>
                                        Great organization!! Your
                                        prompt answer became a pleasant
                                        surprise for me.You've rendered
                                        an invaluable service! Thank you!

                                    </q>
                                </div>
                                <div class="quote-meta">
                                    <cite>Jack Walsh</cite>
                                    <p class="text-gray-light">(CEO & Founder)</p>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Brands carousel-->
<section class="section-35 section-sm-75 bg-alabaster">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <div data-items="1" data-xs-items="2" data-sm-items="4" data-md-items="6" data-stage-padding="15" data-margin="30" data-nav="false" class="owl-carousel owl-carousel-centered">
                    <div class="item">
                        <a href="#" class="link-image">
                            <figure>
                                <img src="images/home-7-170x75.png" alt="" width="170" height="75" />
                            </figure>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="link-image">
                            <figure>
                                <img src="images/home-8-170x75.png" alt="" width="170" height="75" />
                            </figure>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="link-image">
                            <figure>
                                <img src="images/home-9-170x75.png" alt="" width="170" height="75" />
                            </figure>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="link-image">
                            <figure>
                                <img src="images/home-10-170x75.png" alt="" width="170" height="75" />
                            </figure>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="link-image">
                            <figure>
                                <img src="images/home-11-170x75.png" alt="" width="170" height="75" />
                            </figure>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#" class="link-image">
                            <figure>
                                <img src="images/home-12-170x75.png" alt="" width="170" height="75" />
                            </figure>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

