<style is="custom-style">
    paper-progress.slow {
        --paper-progress-indeterminate-cycle-duration: 20s;
    }
</style>
<div *ngIf="regSuccess">
    <p>&nbsp;</p>
    <p>{{ 'Поздравляем! Вы успешно зарегистрировались на платформе. Теперь Вы можете авторизоваться в личном кабинете.' | translate }}</p>
</div>
<form *ngIf="!regSuccess">
    <ul>
        <li *ngFor="let message of errorMessages" class="alert-danger">{{message}}</li>
    </ul>

    <section class="section-top-55 section-bottom-60">
            <div class="shell">
                <div class="range">
                    <div class="cell-xs-12 cell-md-8 cell-lg-9">

                        
                        <h5><span class="badge">1</span> {{ 'Компания' | translate }}</h5>
                        <div class="row">
                            <div class="col-md-8">
                                <paper-input label="{{ 'Наименование организации/ФИО ИП' | translate }}" [(ngModel)]="model.CompanyName" name="CompanyName"></paper-input>
                            </div>
                            <div class="col-md-4">
                                <paper-dropdown-menu label="{{ 'Категория участника' | translate }}">
                                    <paper-listbox class="dropdown-content">
                                        <paper-item on-click="set_agent_type(0)">{{ 'Поставщик' | translate }}</paper-item>
                                        <paper-item on-click="set_agent_type(1)">{{ 'Дебитор' | translate }}</paper-item>
                                        <paper-item on-click="set_agent_type(2)">{{ 'Инвестор' | translate }}</paper-item>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <paper-input [(ngModel)]="model.INN" name="INN" label="{{ 'ИНН' | translate}}" char-counter maxlength="12"></paper-input>
                            </div>
                            <div class="col-md-4">
                                <paper-dropdown-menu label="{{ 'Организационная форма' | translate }}">
                                    <paper-listbox class="dropdown-content">
                                        <paper-item on-click="set_legal_type(0)">{{ 'ИП' | translate }}</paper-item>
                                        <paper-item on-click="set_legal_type(1)">{{ 'ПАО (ОАО)' | translate }}</paper-item>
                                        <paper-item on-click="set_legal_type(2)">{{ 'НАО (ЗАО)' | translate }}</paper-item>
                                        <paper-item on-click="set_legal_type(3)">{{ 'ООО' | translate }}</paper-item>
                                    </paper-listbox>
                                </paper-dropdown-menu>
                            </div>
                            <div class="col-md-4">
                                <paper-checkbox [(ngModel)]="model.IsRezident" name="IsRezident">{{ 'Резидент РФ' | translate }}</paper-checkbox>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6" *ngIf="model.LegalForm!='IP'">
                                <paper-input [(ngModel)]="model.OGRN" name="OGRN" label="{{ 'ОГРН' | translate }}" char-counter maxlength="13"></paper-input>
                            </div>
                            <div class="col-md-6" *ngIf="model.LegalForm=='IP'">
                                <paper-input [(ngModel)]="model.OGRNIP" name="OGRNIP" label="{{ 'ОГРНИП' | translate }}" char-counter maxlength="15"></paper-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <paper-input [(ngModel)]="model.CompanyPhone" label="{{ 'Телефон' | translate }}" name="CompanyPhone" char-counter maxlength="20"></paper-input>
                            </div>
                            <div class="col-md-6">
                                <paper-input [(ngModel)]="model.CompanyEmail" label="E-mail" name="CompanyEmail"></paper-input>
                            </div>
                        </div>

                        <h5><span class="badge">2</span> {{ 'Представитель' | translate }}</h5>

                        <div class="row">
                            <div class="col-md-8">
                                <paper-input label="{{ 'ФИО' | translate }}" [(ngModel)]="model.PersonName" name="PersonName"></paper-input>
                            </div>
                            <div class="col-md-4">
                                <paper-input label="{{ 'Гражданство' | translate }}" [(ngModel)]="model.PersonCitizenship" name="PersonCitizenship"></paper-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <vaadin-date-picker label="{{ 'Дата рождения' | translate }}" [(value)]="model.PersonBirthDate_str" id="PersonBirthDate_str" name="PersonBirthDate_str" [i18n]="_dp_local"></vaadin-date-picker>
                            </div>
                            <div class="col-md-4">
                                <paper-input label="{{ 'Мобильный телефон' | translate }}" [(ngModel)]="model.PersonMobilePhone" name="PersonMobilePhone" char-counter maxlength="20"></paper-input>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <paper-input label="Email" [(ngModel)]="model.PersonEmail" name="PersonEmail"></paper-input>
                            </div>
                            <div class="col-md-6">
                                <paper-input type="password" label="{{ 'Пароль' | translate }}" [(ngModel)]="model.PersonPassword" name="PersonPassword"></paper-input>
                            </div>
                        </div>

                        <div class="offset-top-34">
                            <div class="col-md-3">
                                <paper-button raised on-click="submit_click()">{{ 'Зарегистрировать' | translate }}</paper-button>
                            </div>
                            <div class="col-md-3" *ngIf="showProgress">
                                <paper-progress indeterminate></paper-progress>
                            </div>

                        </div>


                    </div>
                    <div class="cell-xs-12 cell-md-4 cell-lg-3 offset-top-60 offset-md-top-0">
                        <div class="inset-md-left-15 inset-md-right-15">
                            <h5>{{ 'Поиск компании' | translate }}</h5>
                            <paper-input [(ngModel)]="searchINN" label="{{ 'Укажите ИНН' | translate }}" name="searchINN" char-counter maxlength="12"></paper-input>
                            <paper-icon-button icon="find-in-page" title="{{ 'Найти' | translate }}" (click)="check_inn()"></paper-icon-button>

                        </div>
                    </div>
                </div>
            </div>
    </section>

</form>

<paper-toast id="theToast"></paper-toast>