


.fileinput{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  .form-validation {
	top: -16px !important;
  }
  &.load{
	.drop{
	  color: #f2f2f2;
	  .bg {
		background-image: url('../../static/img/25.gif');
		background-repeat: no-repeat;
		background-position: 50%;

		background-size: 20px;
	  }
	}

  }
    input{
       position: absolute;
       top: 0;
       right: 0;
       margin: 0;
       opacity: 0;
       -ms-filter: 'alpha(opacity=0)';
       //font-size: 200px !important;
       direction: ltr;
       cursor: pointer;
	  width:100%;
	  height:100%;
       @media screen\9 {
         filter: alpha(opacity=0);
         //font-size: 100%;
         height: 100%;

       }
     }
  button{
    width:40%;
    margin: 0;
    position: absolute;
    right:0;
    background-color: white !important;
	height:100%;
	min-width: 190px;
  }
  .drop{
    -webkit-appearance: none;
    padding: 11px 17px;
    line-height: 24px;
    font-size: 15px;
    height: 100%;
    color: #999;
    background-color: white;
    border: 3px dotted #f4f7f9;
    border-radius: 3px;
    width:64%;
    position: absolute;
    left:0;
	min-width: 290px;
	.bg{
	  width:100%;
	  height:100%;
	  position: absolute;
	  left: 0;
	  top: 0;
	}
  }
  .block{
    height:50px;
  }
  &:hover{
	button{
	  background-color: #24A3D8 !important;
	  color: white;
	}
  }
}