<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/DebtorHome/Index">{{ 'Кабинет дебитора' | translate }}</a></li>
                    <li class="active">{{ 'Список ДЗ' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="shell">


    <section class="section-50 page-rules page-offers-list">
        <h3>
            Список задолженностей
        </h3>

        <div class="range offset-top-25">

            <div class="cell-xs-12">
                <div class="ic-table-responsive">
                    <table class="ic-table">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>{{ 'Поставщик' | translate }}</td>
                                <td>{{ 'Сумма' | translate }}</td>
                                <td>{{ 'Срок, дней' | translate }}</td>
                                <td>{{ 'Статус' | translate }}</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dzlist" [class.success]="item.Status>=5" [class.danger]="item.Status==3||item.Status==4">
                                <td>{{item.Id}}</td>
                                <td>{{item.Supplier.CompanyName}}</td>
                                <td>{{item.Sum | CurrencyRur}}</td>
                                <td>{{item.Days}}</td>
                                <td>
                                    <span class="text-regular" [class.text-success]="item.Status>=5" [class.text-primary]="item.Status<=1" [class.text-danger]="item.Status==3||item.Status==4">{{dict.get_DZ_STATUS(item.Status)}}</span>
                                </td>
                                <td><paper-icon-button icon="search" title="Просмотр" (click)="dz_details(item.Id)"></paper-icon-button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </section>
</div>
