<template [ngIf]="currentCompany.Status!=5">
    <section class="section-top-45">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12">
                    <ul class="list-progress-bars">
                        <li>
                            <div class="clearfix">
                                <span class="pull-left">{{ 'Настройте учетную запись. Закончите оставшиеся этапы регистрации.' | translate }}</span>
                                <span class="pull-right">{{ '(заполнено ' + numOfCompletedSteps + ' из 3 шагов)' | translate }} </span>
                            </div>
                            <div class="progress-bar progress-bar-horizontal progress-bar-sky-blue no-body progress-bar--animated">

                                <p class="progress-bar__body" [style.width]="numOfCompletedSteps*33 + '%'"></p>
                            </div>

                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section-top-55 section-bottom-60">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12  cell-lg-9">
                    <div class="range">
                        <div class="cell-xs-12">

                            <ol class="list-index list-index-lk range">
                                <li class="cell-xs-12 cell-sm-4">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>


                                        <span class="icon icon-image">
                                            <img src="../../static/img/svg/checked-mark.svg" alt="" width="41"
                                                 height="55">
                                        </span>


                                        <h5>
                                            Получите одобрение заявки
                                        </h5>
                                        <p *ngIf="step1==0">
                                            Продолжите заполнение регистрационных данных и мы одобрим заявку в
                                            течение 24 часов
                                        </p>
                                        <p *ngIf="step1==1 && currentCompany.Status==1">
                                            Мы рассматриваем заявку и вынесем решение в
                                            течение 24 часов
                                        </p>
                                        <p *ngIf="currentCompany.Status>=2 && currentCompany.Status<10">
                                            Ваша заявка одобрена
                                        </p>
                                        <p *ngIf="currentCompany.Status>=2 && currentCompany.Status==10">
                                            Ваша заявка отклонена
                                        </p>

                                        <div class="list-item-footer">
                                            <a routerLink="/DebtorHome/Sign" class="btn btn-sm btn-curious-blue btn-block" *ngIf="step1==0">Продолжить</a>
                                        </div>
                                    </div>


                                </li>
                                <li class="cell-xs-12 cell-sm-4 offset-top-30 offset-sm-top-0">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>

                                        <span class="icon icon-image">
                                            <img src="../../static/img/svg/pen.svg"
                                                 alt="" width="41" height="55">
                                        </span>
                                        <h5>
                                            Подтверждение
                                            ЭЦП
                                        </h5>
                                        <p *ngIf="step2==0">
                                            Необходимо подтвердить ЭЦП
                                        </p>
                                        <p *ngIf="step2==1">
                                            ЭЦП подтверждена
                                        </p>
                                        <div class="list-item-footer">
                                            <div class="btn btn-sm btn-block" *ngIf="step1==0">Подтвердить ЭЦП</div>
                                            <a routerLink="/DebtorHome/Eds" class="btn btn-sm btn-curious-blue btn-block" *ngIf="step1==1 && step2==0">Подтвердить ЭЦП</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="cell-xs-12 cell-sm-4 offset-top-30 offset-sm-top-0">
                                    <div class="list-item-body">
                                        <div class="list-index-counter"></div>

                                        <span class="icon icon-image">
                                            <img src="../../static/img/svg/pen.svg"
                                                 alt="" width="41" height="55">
                                        </span>
                                        <h5>
                                            Примите
                                            правила InvoiceCafe
                                        </h5>
                                        <p>
                                            Необходимо, чтобы один из директоров вашей компании принял правила
                                            InvoiceCafe
                                        </p>
                                        <div class="list-item-footer">
                                            <div class="btn btn-sm btn-block" *ngIf="step1==0">Принять правила</div>
                                            <a routerLink="/DebtorHome/Rules" class="btn btn-sm btn-curious-blue btn-block" *ngIf="step1==1 && step3==0">Принять правила</a>
                                        </div>
                                    </div>
                                </li>


                            </ol>

                        </div>
                    </div>


                </div>
                <div class="cell-xs-12 cell-md-4 cell-lg-3 offset-top-60 offset-lg-top-0">
                    <div class="inset-md-left-15 inset-md-right-15">
                        <div class="range">

                            <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">

                                <div class="banner banner-curious-blue">
                                    <h4>Нужна помощь?</h4>
                                    <p>
                                        Свяжитесь с нами по телефону, заказав
                                        бесплатный звонок
                                    </p><a href="contacts.html" class="btn btn-sm btn-white-outline">
                                        Заказать
                                        звонок
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<template [ngIf]="currentCompany.Status==5">
    <!-- About us-->
    <section class="section-top-55 section-bottom-60" *ngIf="currentCompany.Status==5">
        <div class="shell">
            <div class="range">
                <div class="cell-xs-12 cell-md-8 cell-lg-9">
                    <div class="range">

                        <div class="cell-xs-12">
                            <img class="img-responsive" src="/static/img/about-1-870x400.jpg" alt="">
                        </div>
                        <div class="cell-xs-12">
                            <div class="inset-md-right-15 shift-up-sm-10 offset-top-50">
                                <h3>{{ 'Кабинет дебитора' | translate }}</h3>
                                <p class="text-style-1 offset-top-22">
                                    {{ 'Добро пожаловать! Теперь Вы - полноценный участник платформы.' | translate }}
                                </p>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="cell-xs-12 cell-md-4 cell-lg-3 offset-top-60 offset-md-top-0">
                    <div class="inset-md-left-15 inset-md-right-15">
                        <div class="range">
                            <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">

                                <div class="banner bg-curious-blue">
                                    <h4>
                                        {{ 'Верифицируйте ДЗ' | translate }}
                                    </h4>
                                    <p>
                                        {{ 'Верифицируйте ДЗ для покупки на платформе InvoiceCafé' | translate }}
                                    </p><a href="/DebtorHome/DZ" class="btn btn-sm btn-white-outline">{{ 'Верифицировать' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>