<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">{{ 'Кабинет поставщика' | translate }}</a></li>
                    <li class="active">{{ 'Добавление контракта' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="shell">


    <section class="section-50 page-offers-list">
        <h3>
            Создание нового контракта
        </h3>
        <ul>
            <li *ngFor="let message of errorMessages" class="alert-danger">{{message}}</li>
        </ul>
        <div class="range">



            <div class="cell-xs-12 cell-md-4 cell-lg-3 offset-top-60 offset-md-top-0">

                <div class="range">
                    <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">
                        <nav class="page-nav">
                            <ul class="page-nav-list">
                                <li class="pn-li" [class.active]="currentStep==1"><a href="javascript:void(0)" class="pn-l" (click)="moveToStep(1)"><span class="pn-i">1.</span> <span class="pn-n">Выбор Дебитора </span></a></li>
                                <li class="pn-li" [class.active]="currentStep==2"><a href="javascript:void(0)" class="pn-l" (click)="moveToStep(2)"><span class="pn-i">2.</span> <span class="pn-n">Информация о контракте</span></a></li>
                                <li class="pn-li" [class.active]="currentStep==3"><a href="javascript:void(0)" class="pn-l" (click)="moveToStep(3)"><span class="pn-i">3.</span> <span class="pn-n">Условия по контракту</span></a></li>
                                <li class="pn-li" [class.active]="currentStep==4"><a href="javascript:void(0)" class="pn-l" (click)="moveToStep(4)"><span class="pn-i">4.</span> <span class="pn-n">Лицо, подписавшее контракт с вашей стороны</span></a></li>
                                <li class="pn-li" [class.active]="currentStep==5"><a href="javascript:void(0)" class="pn-l" (click)="moveToStep(5)"><span class="pn-i">5.</span> <span class="pn-n">Лицо, подписавшее контракт с со стороны Дебитора</span></a></li>
                            </ul>
                        </nav>

                    </div>

                </div>

            </div>


            <!--Шаг № 1-->
            <div class="cell-xs-12 cell-md-8 cell-lg-8 cell-lg-preffix-1 offset-top-10"  [hidden]="!(currentStep == 1)">
                <h5><b class="text-primary">1.</b> Выбор Дебитора</h5>

                <div class="range offset-top-25">
                    <div class="cell-xs-12">
                        <div class="form-group">
                            <vaadin-combo-box label="{{ 'Дебитор' | translate }}"
                                              [items]="debtors"
                                              item-label-path="CompanyName"
                                              item-value-path="Id"
                                              (selected-item-changed)="set_debtor($event.detail.value)">
                            </vaadin-combo-box>
                        </div>
                    </div>
                </div>

                <div class="range">
                    <div class="cell-xs-12 cell-md-6">
                        <paper-button class="btn btn-curious-blue-outline  pull-lg-left" (click)="addDebtor()">Добавить нового дебитора</paper-button>
                        <!--<a href="" class="btn btn-curious-blue-outline  pull-lg-left">Добавить нового дебитора</a>-->

                    </div>
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue pull-lg-right" (click)="moveToStep(2)">Следующий шаг</button>
                    </div>

                </div>

            </div>

            <!--Шаг № 2-->
            <div class="cell-xs-12 cell-md-8 cell-lg-8 cell-lg-preffix-1 offset-top-10" [hidden]="!(currentStep == 2)">
                <h5><b class="text-primary"> 2. </b>Информация о контракте</h5>

                    <div class="range offset-top-25">


                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-combo-box label="{{ 'Вид контракта' | translate }}"
                                                  [items]="dict.CONTRACT_TYPE"
                                                  item-label-path="Value"
                                                  item-value-path="Id"
                                                  (selected-item-changed)="set_contract_type($event.detail.value)">
                                </vaadin-combo-box>
                            </div>
                        </div>
                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <paper-input label="{{ 'Номер контракта' | translate }}" [(ngModel)]="model.ContractNumber" name="ContractNumber"></paper-input>
                            </div>
                        </div>
                    </div>

                    <div class="range">
                        <div class="cell-xs-12 ">
                            <div class="form-group">
                                <paper-input label="{{ 'Название контракта' | translate }}" [(ngModel)]="model.ContractName" name="ContractName"></paper-input>
                            </div>
                        </div>
                    </div>

                    <div class="range">

                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-date-picker label="{{ 'Начало контракта' | translate }}" [(value)]="_dt[1]" id="DateFrom" name="DateFrom" [i18n]="_dp_local" (value-changed)="calc_contract_duration($event)"></vaadin-date-picker>
                            </div>
                        </div>
                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-date-picker label="{{ 'Окончание контракта' | translate }}" [(value)]="_dt[2]" id="DateTo" name="DateTo" [i18n]="_dp_local" (value-changed)="calc_contract_duration($event)"></vaadin-date-picker>
                            </div>
                        </div>
                    </div>



                    <div class="range">

                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-date-picker label="{{ 'Дата заключения контракта' | translate }}" [(value)]="_dt[0]" id="DateOfSign" name="DateOfSign" [i18n]="_dp_local"></vaadin-date-picker>
                            </div>
                        </div>
                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <paper-input label="{{ 'Срок действия' | translate }}" [value]="model.Duration" name="Duration" disabled></paper-input>
                            </div>
                        </div>
                    </div>


                    <div class="range">
                        <div class="cell-xs-12 ">
                            <div class="form-group">
                                <span style="font-family:'Roboto', 'Noto', sans-serif">{{ 'Предмет договора' | translate }}</span><br />
                                <iron-autogrow-textarea [(ngModel)]="model.ContractMatter" name="ContractMatter" rows="4"></iron-autogrow-textarea>
                            </div>
                        </div>
                    </div>

                    <div class="range">

                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-combo-box label="{{ 'Способ поставки' | translate }}"
                                                  [items]="dict.CONTRACT_DELIVERY_TYPE"
                                                  item-label-path="Value"
                                                  item-value-path="Id"
                                                  (selected-item-changed)="set_delivery_type($event.detail.value)">
                                </vaadin-combo-box>
                            </div>
                        </div>
                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-date-picker label="{{ 'Момент исполнения обязательств Плательщика' | translate }}" [(value)]="_dt[4]" id="SupplierDeliveryDate" name="SupplierDeliveryDate" [i18n]="_dp_local"></vaadin-date-picker>
                            </div>
                        </div>
                    </div>
                    <div class="range">

                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-date-picker label="{{ 'Момент возникновения обязательств Дебитора' | translate }}" [(value)]="_dt[3]" id="DebtorObligationsDate" name="DebtorObligationsDate" [i18n]="_dp_local"></vaadin-date-picker>
                            </div>
                        </div>
                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-date-picker label="{{ 'Момент перехода права собственности' | translate }}" [(value)]="_dt[5]" id="PropertyRightsTransferDate" name="PropertyRightsTransferDate" [i18n]="_dp_local"></vaadin-date-picker>
                            </div>
                        </div>
                    </div>

                <div class="range">
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue-outline  pull-lg-left" (click)="moveToStep(1)">Предыдущий шаг</button>

                    </div>
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue-outline  pull-lg-left" (click)="moveToStep(3)">Следующий шаг</button>
                    </div>

                </div>

            </div>

            <!--Шаг № 3-->
            <div class="cell-xs-12 cell-md-8 cell-lg-8 cell-lg-preffix-1 offset-top-10" [hidden]="!(currentStep == 3)">
                <h5><b class="text-primary">3. </b>Условия по контракту</h5>

                    <div class="range offset-top-25">

                        <div class="cell-xs-12">
                            <div class="form-group">
                                <span style="font-family:'Roboto', 'Noto', sans-serif">{{ 'Условия по зачету однородных встречных требований' | translate }}</span><br />
                                <iron-autogrow-textarea [(ngModel)]="model.CounterClaimTerms" name="CounterClaimTerms" rows="4"></iron-autogrow-textarea>
                            </div>
                        </div>
                    </div>


                    <div class="range offset-top-45">

                        <div class="cell-xs-12">
                            <div class="form-group">
                                <span style="font-family:'Roboto', 'Noto', sans-serif">{{ 'Условия по возврату товара' | translate }}</span><br />
                                <iron-autogrow-textarea [(ngModel)]="model.MoneyBackTerms" name="MoneyBackTerms" rows="4"></iron-autogrow-textarea>
                            </div>
                        </div>
                    </div>

                    <div class="range offset-top-45">

                        <div class="cell-xs-12">
                            <div class="form-group">
                                <span style="font-family:'Roboto', 'Noto', sans-serif">{{ 'Условия приемки товара' | translate }}</span><br />
                                <iron-autogrow-textarea [(ngModel)]="model.AcceptanceTerms" name="AcceptanceTerms" rows="4"></iron-autogrow-textarea>
                            </div>
                        </div>
                    </div>

                    <div class="range offset-top-45">

                        <div class="cell-xs-12">
                            <div class="form-group">
                                <span style="font-family:'Roboto', 'Noto', sans-serif">{{ 'Условия оплаты товара: форма, способы' | translate }}</span><br />
                                <iron-autogrow-textarea [(ngModel)]="model.PaymentTerms" name="PaymentTerms" rows="4"></iron-autogrow-textarea>
                            </div>
                        </div>
                    </div>

                <div class="range">
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue-outline  pull-lg-left" (click)="moveToStep(2)">Предыдущий шаг</button>

                    </div>
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue-outline  pull-lg-left" (click)="moveToStep(4)">Следующий шаг</button>
                    </div>

                </div>

            </div>

            <!--Шаг № 4-->
            <div class="cell-xs-12 cell-md-8 cell-lg-8 cell-lg-preffix-1 offset-top-10" [hidden]="!(currentStep == 4)">
                <h5><b class="text-primary">4. </b>Лицо, подписавшее контракт с вашей стороны</h5>


                    <div class="range offset-top-25">


                        <div class="cell-xs-12">
                            <div class="form-group">
                                <paper-input label="{{ 'ФИО' | translate }}" [(ngModel)]="model.SupplierSigner.FullName" name="SupplierSigner_FullName"></paper-input>
                            </div>
                        </div>
                    </div>



                    <div class="range offset-top-45">


                        <div class="cell-xs-12">
                            <div class="form-group">
                                <paper-input label="{{ 'Наименование документа, подтверждающего полномочия' | translate }}" [(ngModel)]="model.SupplierSigner.AuthDocumentType" name="SupplierSigner_AuthDocumentType"></paper-input>
                            </div>
                        </div>
                    </div>

                <div class="range offset-top-45">


                    <div class="cell-xs-12">
                        <div class="form-group">
                            <vaadin-upload max-files="1" max-file-size="10000000"
                                           id="SupplierSigner_AuthScan"
                                           target="/api/service/uploadfile"
                                           method="POST"
                                           accept=".pdf,image/*"
                                           timeout=300000
                                           (file-reject)="upl_reject($event)" (upload-success)="after_file_upload($event)"
                                           [i18n]="_upl_local">
                                <div class="drop-label">
                                    <iron-icon icon="file-upload"></iron-icon>
                                    {{ 'Перетяните файл сюда.. (до' | translate }} 10{{ 'Мб)' | translate }}
                                </div>
                            </vaadin-upload>
                        </div>
                    </div>
                </div>


                    <div class="range offset-top-45">


                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-date-picker label="{{ 'Начало действия полномочий' | translate }}" [(value)]="_dt[6]" id="SupplierSigner_AuthDateFrom" name="SupplierSigner_AuthDateFrom" [i18n]="_dp_local"></vaadin-date-picker>
                            </div>
                        </div>


                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-group">
                                <vaadin-date-picker label="{{ 'Окончание действия полномочий' | translate }}" [(value)]="_dt[7]" id="SupplierSigner_AuthDateTo" name="SupplierSigner_AuthDateTo" [i18n]="_dp_local"></vaadin-date-picker>
                            </div>
                        </div>
                    </div>

                <div class="range">
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue-outline  pull-lg-left" (click)="moveToStep(3)">Предыдущий шаг</button>

                    </div>
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue-outline  pull-lg-left" (click)="moveToStep(5)">Следующий шаг</button>
                    </div>

                </div>

            </div>

            <!--Шаг № 5-->
            <div class="cell-xs-12 cell-md-8 cell-lg-8 cell-lg-preffix-1 offset-top-10" [hidden]="!(currentStep == 5)">
                <h5><b class="text-primary">4. </b>Лицо, подписавшее контракт со стороны Дебитора</h5>


                <div class="range offset-top-25">


                    <div class="cell-xs-12">
                        <div class="form-group">
                            <paper-input label="{{ 'ФИО' | translate }}" [(ngModel)]="model.DebtorSigners[0].FullName" name="DebtorSigners0_FullName" required error-message="{{ 'Укажите ФИО' | translate }}"></paper-input>
                        </div>
                    </div>
                </div>



                <div class="range offset-top-45">


                    <div class="cell-xs-12">
                        <div class="form-group">
                            <paper-input label="{{ 'Наименование документа, подтверждающего полномочия' | translate }}" [(ngModel)]="model.DebtorSigners[0].AuthDocumentType" name="DebtorSigners0_AuthDocumentType"></paper-input>
                        </div>
                    </div>
                </div>

                <div class="range offset-top-45">


                    <div class="cell-xs-12">
                        <div class="form-group">
                            <vaadin-upload max-files="1" max-file-size="10000000"
                                           id="DebtorSigner0_AuthScan"
                                           target="/api/service/uploadfile"
                                           method="POST"
                                           accept=".pdf,image/*"
                                           timeout=300000
                                           (file-reject)="upl_reject($event)" (upload-success)="after_file_upload($event)"
                                           [i18n]="_upl_local">
                                <div class="drop-label">
                                    <iron-icon icon="file-upload"></iron-icon>
                                    {{ 'Перетяните файл сюда.. (до' | translate }} 10{{ 'Мб)' | translate }}
                                </div>
                            </vaadin-upload>
                        </div>
                    </div>
                </div>


                <div class="range offset-top-45">


                    <div class="cell-xs-12 cell-md-6">
                        <div class="form-group">
                            <vaadin-date-picker label="{{ 'Начало действия полномочий' | translate }}" [(value)]="_dt[8]" id="DebtorSigners0_AuthDateFrom" name="DebtorSigners0_AuthDateFrom" [i18n]="_dp_local"></vaadin-date-picker>
                        </div>
                    </div>


                    <div class="cell-xs-12 cell-md-6">
                        <div class="form-group">
                            <vaadin-date-picker label="{{ 'Окончание действия полномочий' | translate }}" [(value)]="_dt[9]" id="DebtorSigners0_AuthDateTo" name="DebtorSigners0_AuthDateTo" [i18n]="_dp_local"></vaadin-date-picker>
                        </div>
                    </div>
                </div>

                <div class="range">
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue-outline  pull-lg-left" (click)="moveToStep(4)">Предыдущий шаг</button>

                    </div>
                    <div class="cell-xs-12 cell-md-6">
                        <button type="button" class="btn btn-curious-blue-outline  pull-lg-left" (click)="submit_click()">Добавить контракт</button>
                    </div>

                </div>

            </div>

        </div>


    </section>


</div>

<paper-dialog id="modalAddDebtor" modal>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="buttons">
        <paper-button dialog-confirm autofocus>Tap me to close</paper-button>
    </div>
</paper-dialog>
<paper-toast id="theToast"></paper-toast>