<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">{{ 'Кабинет поставщика' | translate }}</a></li>
                    <li><a routerLink="/SupplierHome/Contracts">{{ 'Редактирование контракта' | translate }}</a></li>
                    <li class="active">№{{selectedContract.ContractNumber}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="shell">
    <section class="section-50 page-offers-list">
        <h5><b class="text-primary"></b>{{'Информация о контракте' | translate }}</h5>
        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <div class="cell-xs-12 cell-md-6">
                        <div class="form-group">
                            <paper-input label="{{ 'Номер контракта' | translate }}" [(ngModel)]="selectedContract.ContractNumber" name="ContractNumber"></paper-input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-combo-box label="{{ 'Вид контракта' | translate }}"
                                      [items]="dict.CONTRACT_TYPE"
                                      [value]="selectedContract.ContractType"
                                      item-label-path="Value"
                                      item-value-path="Id"
                                      (selected-item-changed)="selected_contractType($event.detail.value)">
                    </vaadin-combo-box>
                </div>
            </div>
        </div>
        <h5><b class="text-primary"></b>Дебитор</h5>
        <div class="range offset-top-25">
            <div class="cell-xs-12">
                <div class="form-group">
                    <vaadin-combo-box label="{{ 'Дебитор' | translate }}"
                                      [items]="selectedContract.Debtors"
                                      item-label-path="CompanyName"
                                      [value]="selectedContract.DebtorSigners[0].Company.Id"
                                      item-value-path="Id"
                                      (selected-item-changed)="selected_debtor($event.detail.value)">
                    </vaadin-combo-box>
                </div>
            </div>
        </div>


        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <paper-input label="{{ 'Название контракта' | translate }}" [(ngModel)]="selectedContract.ContractName" name="ContractName"></paper-input>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Начало контракта' | translate }}"
                                        [(value)]="selectedContract.DateFrom" id="DateFrom"
                                        name="DateFrom" [i18n]="_dp_local" (value-changed)="calc_contract_duration($event)"></vaadin-date-picker>
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Окончание контракта' | translate }}"
                                        [(value)]="selectedContract.DateTo" id="DateTo"
                                        name="DateTo" [i18n]="_dp_local" (value-changed)="calc_contract_duration($event)"></vaadin-date-picker>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Дата заключения контракта' | translate }}" [(value)]="selectedContract.DateOfSign" id="DateOfSign" name="DateOfSign" [i18n]="_dp_local"></vaadin-date-picker>
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <paper-input label="{{ 'Срок действия' | translate }}" [(ngModel)]="selectedContract.Duration" name="Duration"></paper-input>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <span style="font-family: 'Roboto', 'Noto', sans-serif">{{ 'Предмет договора' | translate }}</span><br />
                    <iron-autogrow-textarea [(ngModel)]="selectedContract.ContractMatter" name="ContractMatter" rows="4"></iron-autogrow-textarea>
                </div>
            </div>
        </div>
        <div class="range">

            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-combo-box label="{{ 'Способ поставки' | translate }}"
                                      [items]="dict.CONTRACT_DELIVERY_TYPE"
                                      [value]="selectedContract.DeliveryType"
                                      item-label-path="Value"
                                      item-value-path="Id"
                                      (selected-item-changed)="selected_delivery_type($event.detail.value)">
                    </vaadin-combo-box>
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Момент исполнения обязательств Плательщика' | translate }}" [(value)]="selectedContract.SupplierDeliveryDate" id="SupplierDeliveryDate" name="SupplierDeliveryDate" [i18n]="_dp_local"></vaadin-date-picker>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Момент возникновения обязательств Дебитора' | translate }}" [(value)]="selectedContract.DebtorObligationsDate" id="DebtorObligationsDate" name="DebtorObligationsDate" [i18n]="_dp_local"></vaadin-date-picker>
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Момент перехода права собственности' | translate }}" [(value)]="selectedContract.PropertyRightsTransferDate" id="PropertyRightsTransferDate" name="PropertyRightsTransferDate" [i18n]="_dp_local"></vaadin-date-picker>
                </div>
            </div>
        </div>
        <h5><b class="text-primary"> 3. </b>Условия по контракту</h5>
        <div class="range offset-top-25">

            <div class="cell-xs-12">
                <div class="form-group">
                    <span style="font-family: 'Roboto', 'Noto', sans-serif">{{ 'Условия по зачету однородных встречных требований' | translate }}</span><br />
                    <iron-autogrow-textarea [(ngModel)]="selectedContract.CounterClaimTerms" name="CounterClaimTerms" rows="4"></iron-autogrow-textarea>
                </div>
            </div>
        </div>
        <div class="range offset-top-45">

            <div class="cell-xs-12">
                <div class="form-group">
                    <span style="font-family: 'Roboto', 'Noto', sans-serif">{{ 'Условия по возврату товара' | translate }}</span><br />
                    <iron-autogrow-textarea [(ngModel)]="selectedContract.MoneyBackTerms" name="MoneyBackTerms" rows="4"></iron-autogrow-textarea>
                </div>
            </div>
        </div>
        <div class="range offset-top-45">

            <div class="cell-xs-12">
                <div class="form-group">
                    <span style="font-family: 'Roboto', 'Noto', sans-serif">{{ 'Условия приемки товара' | translate }}</span><br />
                    <iron-autogrow-textarea [(ngModel)]="selectedContract.AcceptanceTerms" name="AcceptanceTerms" rows="4"></iron-autogrow-textarea>
                </div>
            </div>
        </div>
        <div class="range offset-top-45">

            <div class="cell-xs-12">
                <div class="form-group">
                    <span style="font-family: 'Roboto', 'Noto', sans-serif">{{ 'Условия оплаты товара: форма, способы' | translate }}</span><br />
                    <iron-autogrow-textarea [(ngModel)]="selectedContract.PaymentTerms" name="PaymentTerms" rows="4"></iron-autogrow-textarea>
                </div>
            </div>
        </div>
        <h5 *ngIf="selectedContract.SupplierSigner">
            <b class="text-primary"> 4. </b>Лицо, подписавшее контракт со стороны Поставщика
        </h5>
        <div class="range offset-top-25" *ngIf="selectedContract.SupplierSigner">
            <div class="cell-xs-12">
                <div class="form-group">
                    <paper-input label="{{ 'ФИО' | translate }}" [(ngModel)]="selectedContract.SupplierSigner.FullName" name="SupplierSigner_FullName"></paper-input>
                </div>
            </div>
        </div>
        <!--<div class="range offset-top-45" *ngIf="selectedContract.SupplierSigner">
            <div class="cell-xs-12">
                <div class="form-group">
                    <paper-input label="{{ 'Наименование документа, подтверждающего полномочия' | translate }}" [(ngModel)]="selectedContract.SupplierSigner.AuthDocumentType" name="SupplierSigner_AuthDocumentType"></paper-input>
                </div>
            </div>
        </div>-->
        <div class="range offset-top-45" id="supplier_docs">
            <div class="cell-xs-12">
                <span>
                    {{'Документы, подтверждающие полномочия'| translate}}
                </span>
                <div class="form-group">
                    <vaadin-upload #toDownloadSupplierFPDN max-files="5" max-file-size="50000000"
                                   id="SupplierSigner_AuthScan"
                                   target="/api/service/uploadfile"
                                   method="POST"
                                   accept=".pdf,image/*"
                                   timeout=300000
                                   (file-reject)="upl_reject($event)"
                                   (upload-success)="after_file_upload_supplier($event)"
                                   [i18n]="_upl_local">
                        <div class="drop-label">
                            <iron-icon icon="file-upload"></iron-icon>
                            {{ 'Перетяните файл сюда.. (до 5 файлов, до 50Мб)' | translate }}
                        </div>
                    </vaadin-upload>

                    <ul class="list-unstyled offset-top-25">
                        <li *ngFor="let obj of this._FullPowersDocumentsNamesURLsSupplier; let i = index">
                            <div [hidden]="!obj.isVisible">
                                <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                                <a target="_blank" href="{{obj.getUrl}}">{{obj.fileName}}</a>
                                <span style="cursor: pointer" class="glyphicon glyphicon-remove" (click)="delete_file_supplier(obj.deleteUrl)" aria-hidden="true">x</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="range offset-top-45" *ngIf="selectedContract.SupplierSigner">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Начало действия полномочий' | translate }}" [(value)]="selectedContract.SupplierSigner.AuthDateFrom" id="SupplierSigner_AuthDateFrom" name="SupplierSigner_AuthDateFrom" [i18n]="_dp_local"></vaadin-date-picker>
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6" *ngIf="selectedContract.SupplierSigner">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Окончание действия полномочий' | translate }}" [(value)]="selectedContract.SupplierSigner.AuthDateTo" id="SupplierSigner_AuthDateTo" name="SupplierSigner_AuthDateTo" [i18n]="_dp_local"></vaadin-date-picker>
                </div>
            </div>
        </div>
        <h5 *ngIf="selectedContract.DebtorSigners">
            <b class="text-primary"> 5. </b>Лицо, подписавшее контракт со стороны Дебитора
        </h5>
        <div class="range offset-top-25" *ngIf="selectedContract.DebtorSigners">
            <div class="cell-xs-12">
                <div class="form-group">
                    <paper-input label="{{ 'ФИО' | translate }}" [(ngModel)]="selectedContract.DebtorSigners[0].FullName" name="DebtorSigners0_FullName" required error-message="{{ 'Укажите ФИО' | translate }}"></paper-input>
                </div>
            </div>
        </div>
        <!--<div class="range offset-top-45" *ngIf="selectedContract.DebtorSigners">
            <div class="cell-xs-12">
                <div class="form-group">
                    <paper-input label="{{ 'Наименование документа, подтверждающего полномочия' | translate }}" [(ngModel)]="selectedContract.DebtorSigners[0].AuthDocumentType" name="DebtorSigners0_AuthDocumentType"></paper-input>
                </div>
            </div>
        </div>-->
        <div class="range offset-top-45" id="debtor_docs">
            <div class="cell-xs-12">
                <span>
                    {{'Документы, подтверждающие полномочия'| translate}}
                </span>
                <div class="form-group">
                    <vaadin-upload #toDownloadDebtorFPDN max-files="5" max-file-size="50000000"
                                   id="DebtorSigner0_AuthScan"
                                   target="/api/service/uploadfile"
                                   method="POST"
                                   accept=".pdf,image/*"
                                   timeout=300000
                                   (file-reject)="upl_reject($event)"
                                   (upload-success)="after_file_upload_debtor($event)"
                                   [i18n]="_upl_local">
                        <div class="drop-label">
                            <iron-icon icon="file-upload"></iron-icon>
                            {{ 'Перетяните файл сюда.. (до 5 файлов, до 50Мб)' | translate }}
                        </div>
                    </vaadin-upload>

                    <ul class="list-unstyled offset-top-25">
                        <li *ngFor="let obj of this._FullPowersDocumentsNamesURLsDebtor; let i = index">
                            <div [hidden]="!obj.isVisible">
                                <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                                <a target="_blank" href="{{obj.getUrl}}">{{obj.fileName}}</a>
                                <span style="cursor: pointer" class="glyphicon glyphicon-remove" (click)="delete_file_debtor(obj.deleteUrl)" aria-hidden="true">x</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="range offset-top-45" *ngIf="selectedContract.DebtorSigners">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Начало действия полномочий' | translate }}" [(value)]="selectedContract.DebtorSigners[0].AuthDateFrom" id="DebtorSigners0_AuthDateFrom" name="DebtorSigners0_AuthDateFrom" [i18n]="_dp_local"></vaadin-date-picker>
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6" *ngIf="selectedContract.DebtorSigners">
                <div class="form-group">
                    <vaadin-date-picker label="{{ 'Окончание действия полномочий' | translate }}" [(value)]="selectedContract.DebtorSigners[0].AuthDateTo" id="DebtorSigners0_AuthDateTo" name="DebtorSigners0_AuthDateTo" [i18n]="_dp_local"></vaadin-date-picker>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 cell-md-6">
            </div>
            <div class="cell-xs-12 cell-md-6">
                <a (click)="update_contract()" class="btn btn-curious-blue pull-lg-right">Сохранить изменения</a>
            </div>
        </div>
    </section>
</div>

<paper-toast #theToast id="theToast"></paper-toast>