

<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">{{ 'Кабинет поставщика' | translate }}</a></li>
                    <li><a routerLink="/SupplierHome/Contracts">{{ 'Список контрактов' | translate }}</a></li>
                    <li class="active">{{ 'Контракт' | translate }} №{{model.ContractNumber}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="shell">
    <section class="section-50 page-offers-list">

        <div class="range">
            <div class="cell-xs-12">
                <h5>
                    <b class="text-primary"> 1. </b> Задолженности по контракту
                </h5>
            </div>
            <div class="cell-xs-12">
                <div class="ic-table-responsive">
                    <table class="ic-table" *ngIf="model.DZ && model.DZ.length>0">
                        <thead>
                            <tr>
                                <td>{{ 'Дата' | translate }}</td>
                                <td>{{ 'Сумма' | translate }}</td>
                                <td>{{ 'Срок погашения' | translate }}</td>
                                <td>{{ 'Документы' | translate }}</td>
                                <td>
                                    {{ 'Статус' | translate }}
                                </td>
                                <td>
                                    {{ 'Наличие лота' | translate }}
                                </td>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dz of model.DZ; let i = index">
                                <td>{{dz.DateFrom | date:"dd.MM.yyyy"}}</td>
                                <td>{{dz.Sum | CurrencyRur}}</td>
                                <td>{{dz.Days}} дней</td>
                                <td>
                                    <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.Guid}};{{dz.Id}};{{fName}}" target="_blank" *ngFor="let fName of dz.DocumentsURLs">
                                        <span class="icon icon-sm-variant-1 icon-curious-blue fa-file-text"></span>
                                    </a>                                    
                                </td>
                                <td>{{dict.get_DZ_STATUS(dz.Status)}}</td>
                                <td>
                                    <template [ngIf]="dz.Status==5 || dz.Status==6">
                                        <span class="icon icon-sm-variant-1 icon-curious-blue fa-plus-circle " style="cursor: pointer" (click)="showAddLotDialog(i)"></span>
                                        <span class="link-inline" style="cursor: pointer" (click)="showAddLotDialog(i)">Создать лот по задолженности</span>
                                    </template>
                                    <template [ngIf]="dz.Status>=15">
                                        <a href="" class="link-inline">Лот №{{dz.Lots[0].Id}}</a>
                                    </template>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <!--<button class="btn btn-curious-blue-outline pull-lg-left" onclick="modal_3.open()">Данные о контракте</button>-->

            </div>
            <div class="cell-xs-12 cell-md-6">
                <button class="btn btn-curious-blue-outline pull-lg-right" (click)="showAddDzDialog()">Добавить задолженность</button>
            </div>

        </div>




        <h5><b class="text-primary"> 2. </b>Информация о контракте</h5>
        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Наименование дебитора</label>
                    <input type="text" class="form-control" placeholder="{{model.Debtors[0].CompanyName}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Реквизиты дебитора</label>
                    <input type="password" class="form-control" placeholder="{{ 'ИНН' | translate }}: {{model.Debtors[0].INN}} {{ 'ОГРН' | translate }}: {{model.Debtors[0].OGRN}}">
                </div>
            </div>
        </div>

        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Вид контракта</label>
                    <input type="text" class="form-control" disabled placeholder="{{dict.get_CONTRACT_TYPE(model.ContractType)}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Номер контракта</label>
                    <input type="password" class="form-control" disabled placeholder="{{model.ContractNumber}}">
                </div>
            </div>

        </div>

        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Название контракта</label>
                    <input type="password" class="form-control" disabled placeholder="{{model.ContractName}}">
                </div>
            </div>
        </div>

        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Начало контракта</label>
                    <input type="text" class="form-control" placeholder="{{_dt[1]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Окончание контракта</label>
                    <input type="password" class="form-control" placeholder="{{_dt[2]}}">
                </div>
            </div>
        </div>

        <div class="range">
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">{{ 'Дата заключения контракта' | translate }}</label>
                    <input type="text" class="form-control" placeholder="{{_dt[0]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">{{ 'Срок действия контракта, дней' | translate }}</label>
                    <input type="password" class="form-control" placeholder="{{model.Duration}}">
                </div>
            </div>
        </div>

        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Предмет договора</label>
                    <textarea type="password" class="form-control" placeholder="{{model.ContractMatter}}"></textarea>
                </div>
            </div>
        </div>

        <div class="range">

            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Способ поставки</label>
                    <input type="text" class="form-control" placeholder="{{dict.get_CONTRACT_DELIVERY_TYPE(model.DeliveryType)}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Возникновение обязательств Плательщика</label>
                    <input type="password" class="form-control" placeholder="{{_dt[4]}}">
                </div>
            </div>
        </div>

        <div class="range">

            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Возникновение обязательств Дебитора</label>
                    <input type="text" class="form-control" placeholder="{{_dt[3]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6">
                <div class="form-group">
                    <label class="ic-label" for="">Момент перехода права собственности</label>
                    <input type="password" class="form-control" placeholder="{{_dt[5]}}">
                </div>
            </div>
        </div>

        <h5><b class="text-primary"> 3. </b>Условия по контракту</h5>

        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Условия по зачёту однородных встречных требований </label>
                    <textarea class="form-control" placeholder="{{model.CounterClaimTerms}}"></textarea>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Условия по возврату товара </label>
                    <textarea class="form-control" placeholder="{{model.MoneyBackTerms}}"></textarea>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Условия приёмки товара </label>
                    <textarea class="form-control" placeholder="{{model.AcceptanceTerms}}"></textarea>
                </div>
            </div>
        </div>
        <div class="range">
            <div class="cell-xs-12 ">
                <div class="form-group">
                    <label class="ic-label" for="">Условия оплаты товара: форма, способы </label>
                    <textarea class="form-control" placeholder="{{model.PaymentTerms}}"></textarea>
                </div>
            </div>
        </div>


        <h5><b class="text-primary"> 4. </b>Лицо, подписавшее контракт со стороны Поставщика</h5>

        <div class="range">
            <div class="cell-xs-12">
                <div class="form-group">
                    <label class="ic-label" for="">ФИО</label>
                    <input type="text" class="form-control" placeholder="{{model.SupplierSigner.FullName}}">
                </div>
            </div>

        </div>
        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Наименование документа, подтверждающего полномочия</label>
                    <input type="password" class="form-control" placeholder="{{model.SupplierSigner.AuthDocumentType}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">&nbsp;</label>
                    <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.Guid}};{{model.SupplierSigner.AuthDocumentURL}}" target="_blank" style="display:block">
                        <span class="icon icon-sm-variant-1 icon-curious-blue fa-file-text"></span>
                    </a>                
                </div>
            </div>

        </div>

        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Начало действия полномочий </label>
                    <input type="password" class="form-control" placeholder="{{_dt[6]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Окончания действия полномочий</label>
                    <input type="password" class="form-control" placeholder="{{_dt[7]}}">
                </div>
            </div>
        </div>
        

        <h5><b class="text-primary"> 5. </b>Лицо, подписавшее контракт со стороны Дебитора</h5>

        <div class="range">
            <div class="cell-xs-12">
                <div class="form-group">
                    <label class="ic-label" for="">ФИО</label>
                    <input type="text" class="form-control" placeholder="{{model.DebtorSigners[0].FullName}}">
                </div>
            </div>

        </div>
        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Наименование документа, подтверждающего полномочия</label>
                    <input type="password" class="form-control" placeholder="{{model.DebtorSigners[0].AuthDocumentType}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">&nbsp;</label>
                    <a href="/api/service/fl?key={{model.Supplier.Guid}};{{model.Guid}};{{model.DebtorSigners[0].AuthDocumentURL}}" target="_blank" style="display:block">
                        <span class="icon icon-sm-variant-1 icon-curious-blue fa-file-text"></span>
                    </a>
                </div>
            </div>

        </div>

        <div class="range offset-top-25">
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Начало действия полномочий </label>
                    <input type="password" class="form-control" placeholder="{{_dt[8]}}">
                </div>
            </div>
            <div class="cell-xs-12 cell-md-6 ">
                <div class="form-group">
                    <label class="ic-label" for="">Окончания действия полномочий</label>
                    <input type="password" class="form-control" placeholder="{{_dt[9]}}">
                </div>
            </div>
        </div>
</section>
</div>

<paper-dialog id="addDzDialog" modal style="width:600px; display:none">
        <div class="range">
            <div class="cell-xs-12">
                <div class="range offset-top-25">
                    <div class="cell-xs-12">
                        <h5>
                            Добавление дебиторской задолженности
                        </h5>
                    </div>
                </div>
                <div class="range offset-top-25">


                    <div class="cell-xs-12 cell-md-6">
                        <div class="form-group">
                            <paper-input label="{{ 'Сумма требований' | translate }}" [(ngModel)]="newDZ.Sum" name="newDZ_Sum">
                                <div suffix>{{ 'руб' | translate }}.</div>
                            </paper-input>
                        </div>
                    </div>
                    <div class="cell-xs-12 cell-md-6">
                        <div class="form-group">
                            <paper-input label="{{ 'Срок' | translate }}" [value]="newDZ.Days" name="newDZ_Days" disabled>
                                <div suffix>{{ 'дней' | translate }}.</div>
                            </paper-input>
                        </div>
                    </div>
                </div>

                <div class="range offset-top-25">
                    <div class="cell-xs-12 cell-md-6">
                        <div class="form-group">
                            <vaadin-date-picker label="{{ 'Дата начала задолженности' | translate }}" id="newDZ_DateFrom" name="newDZ_DateFrom" 
                                                [i18n]="_dp_local" (value-changed)="calc_dz_duration($event)"></vaadin-date-picker>
                        </div>
                    </div>
                    <div class="cell-xs-12 cell-md-6">
                        <div class="form-group">
                            <vaadin-date-picker label="{{ 'Дата погашения задолженности' | translate }}" id="newDZ_DateTo" name="newDZ_DateTo" 
                                                [i18n]="_dp_local" (value-changed)="calc_dz_duration($event)"></vaadin-date-picker>
                        </div>
                    </div>

                </div>

                <div class="range offset-top-25">

                    <div class="cell-xs-12">
                        <div class="form-group">
                            <paper-input label="{{ 'Тип документа, подтверждающего задолженность' | translate }}" [(ngModel)]="newDZ.DocumentName" name="newDZ_DocumentName"></paper-input>
                        </div>
                    </div>
                </div>

                <!--<div class="range offset-top-25">
                    <div class="cell-xs-12">
                        <h5>
                            Скан-копии документов
                        </h5>
                    </div>
                </div>-->
                <div class="range offset-top-25">

                    <div class="cell-xs-12">
                        <div class="form-group">
                            <vaadin-upload max-files="5" max-file-size="50000000"
                                           id="DZ_Scans"
                                           target="/api/service/uploadfile"
                                           method="POST"
                                           accept=".pdf,image/*"
                                           timeout=300000
                                           (file-reject)="upl_reject($event)" (upload-success)="after_file_upload($event)"
                                           [i18n]="_upl_local">
                                <div class="drop-label">
                                    <iron-icon icon="file-upload"></iron-icon>
                                    {{ 'Перетяните файл сюда.. (до 5 файлов, до 50Мб)' | translate }}
                                </div>
                            </vaadin-upload>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <paper-button dialog-dismiss>{{ 'Отменить' | translate }}</paper-button>
            <paper-button dialog-confirm autofocus (click)="addDz()">{{ 'Добавить задолженность' | translate }}</paper-button>
        </div>
</paper-dialog>

<paper-dialog id="addLotDialog" modal style="width:600px; display:none">
    <div class="range">
        <div class="cell-xs-12">
            <div class="range offset-top-25">
                <div class="cell-xs-12">
                    <h5>
                        Добавление лота
                    </h5>
                </div>
            </div>

            <div class="range offset-top-25">
                <div class="cell-xs-12 cell-md-6">
                    <div class="form-group">
                        <paper-input label="{{ 'Сумма задолженности' | translate }}" [(ngModel)]="newLot.Sum" name="newLot_Sum" disabled>
                            <div suffix>{{ 'руб' | translate }}.</div>
                        </paper-input>
                    </div>
                </div>
                <div class="cell-xs-12 cell-md-6">
                    <div class="form-group">
                        <paper-input label="{{ 'Размер финансирования' | translate }}" [(ngModel)]="newLot.DZPart" name="newLot_DZPart">
                            <div suffix>%</div>
                        </paper-input>
                    </div>
                </div>
            </div>

            <div class="range offset-top-25">
                <div class="cell-xs-12 cell-md-6">
                    <div class="form-group">
                        <paper-input label="{{ 'Размер ставки' | translate }}" [(ngModel)]="newLot.YearPercent" name="newLot_YearPercent">
                            <div suffix>%</div>
                        </paper-input>
                    </div>
                </div>
                <div class="cell-xs-12 cell-md-6">

                </div>

            </div>
        </div>
    </div>
    <div class="buttons">
        <paper-button dialog-dismiss>{{ 'Отменить' | translate }}</paper-button>
        <paper-button dialog-confirm autofocus (click)="addLot()">{{ 'Создать лот' | translate }}</paper-button>
    </div>
</paper-dialog>

<paper-toast id="theToast"></paper-toast>