<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">{{ 'Кабинет поставщика' | translate }}</a></li>
                    <li class="active">{{ 'Добавление дебитора' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="shell">


    <section class="section-50">
        <h3>
            {{ 'Создание нового дебитора' | translate }}
        </h3>
        <ul>
            <li *ngFor="let message of errorMessages" class="alert-danger">{{message}}</li>
        </ul>

        <div class="range">

            <div class="cell-xs-12 cell-md-8">
                <form>

                    <div class="range">
                        <div class="cell-xs-12">
                            <div class="form-group">
                                <paper-input label="{{ 'Наименование организации/ФИО ИП' | translate }}" [(ngModel)]="model.CompanyName" name="CompanyName"></paper-input>
                            </div>
                        </div>

                        <div class="range offset-top-25">
                            <div class="cell-xs-6 cell-md-6">
                                    <paper-dropdown-menu label="{{ 'Организационная форма' | translate }}">
                                        <paper-listbox class="dropdown-content" selected="1">
                                            <paper-item on-click="set_legal_type(0)">{{ 'ИП' | translate }}</paper-item>
                                            <paper-item on-click="set_legal_type(1)">{{ 'ПАО (ОАО)' | translate }}</paper-item>
                                            <paper-item on-click="set_legal_type(2)">{{ 'НАО (ЗАО)' | translate }}</paper-item>
                                            <paper-item on-click="set_legal_type(3)">{{ 'ООО' | translate }}</paper-item>
                                        </paper-listbox>
                                    </paper-dropdown-menu>
                            </div>
                            <div class="cell-xs-6 cell-md-6">
                                <div class="form-group">
                                    <paper-input label="{{ 'Номер контракта???' | translate }}"></paper-input>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="range offset-top-25">


                        <div class="cell-xs-6 cell-md-6 ">
                            <div class="form-group">
                                <paper-input [(ngModel)]="model.INN" name="INN" label="{{ 'ИНН' | translate }}" char-counter maxlength="12"></paper-input>
                            </div>
                        </div>
                        <div class="cell-xs-6 cell-md-6">
                            <div class="form-group" *ngIf="model.LegalForm!='IP'">
                                <paper-input [(ngModel)]="model.OGRN" name="OGRN" label="{{ 'ОГРН' | translate }}" char-counter maxlength="13"></paper-input>
                            </div>
                            <div class="form-group" *ngIf="model.LegalForm=='IP'">
                                <paper-input [(ngModel)]="model.OGRNIP" name="OGRNIP" label="{{ 'ОГРНИП' | translate }}" char-counter maxlength="15"></paper-input>
                            </div>
                        </div>

                    </div>
                    <div class="range offset-top-25">
                        <div class="cell-xs-6 cell-md-6 ">
                            <div class="form-group">
                                <paper-input [(ngModel)]="model.CompanyEmail" label="E-mail" name="CompanyEmail"></paper-input>
                            </div>
                        </div>
                        <div class="cell-xs-6 cell-md-6">
                            <div class="form-group offset-top-25">


                                <paper-checkbox [(ngModel)]="model.IsRezident" name="IsRezident">{{ 'Резидент РФ' | translate }}</paper-checkbox>


                            </div>
                        </div>
                    </div>

                    <div class="range">
                        <div class="cell-xs-4 cell-md-4 ">
                            <div class="form-group">
                                <button type="button" class="btn btn-curious-blue" on-click="submit_click()">
                                    <template [ngIf]="model.CreateOrUpdate==1">
                                        Создать
                                    </template>
                                    <template [ngIf]="model.CreateOrUpdate==5">
                                        Зарегистрировать
                                    </template>
                                </button>
                            </div>
                        </div>
                        <div class="cell-xs-4 cell-md-4 " *ngIf="showProgress">
                            <div class="form-group">
                                <paper-progress indeterminate></paper-progress>
                            </div>
                        </div>
                    </div>

                </form>
            </div>


            <div class="cell-xs-12 cell-md-4">

                <div class="inset-md-left-15 inset-md-right-15">
                    <div class="range">
                        <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41 offset-top-25 offset-md-top-0">

                            <div class="banner banner-1 bg-aqua-haze ">
                                <h4>
                                    Добавление
                                    существующего
                                    дебитора
                                </h4>
                                <p>
                                    Если дебитор уже зарегистрирован на InvoiceCafe, то Вы можете добавить его в свой список, заполнив его ИНН
                                </p>
                                <form action="" class="offset-top-25">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <paper-input [(ngModel)]="searchINN" label="{{ 'ИНН' | translate }}" name="searchINN" char-counter maxlength="12"></paper-input>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-sm btn-curious-blue-outline btn-block" (click)="search_debtor()">Поиск</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<paper-toast id="theToast"></paper-toast>
<paper-dialog id="dialogEDS" modal style="width:400px;display:none">
    <h5>Установлено ЭЦП: 1</h5>
    <div role="listbox">
        <paper-item (dblclick)="dialogEDS_Ok()">1. {{this.EDS_Name}}</paper-item>
    </div>
    <div class="buttons">
        <paper-button dialog-confirm autofocus>Закрыть</paper-button>
    </div>
</paper-dialog>