<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">{{ 'Кабинет поставщика' | translate }}</a></li>
                    <li class="active">{{ 'Подтверждение ЭЦП' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="shell">


    <section class="section-50 page-rules">
        <h3>
            ЭЦП
        </h3>

        <div class="range">

            <div class="cell-xs-12 cell-md-6 cell-lg-8">

                <div class="banner banner-1" style="background-color:mistyrose" *ngIf="!localJLSSOk">
                    <h4>Не найден локальный криптопровайдер</h4>
                    <p>
                        Здесь текст, что делать...
                    </p>
                </div>

                <p>Ознакомтесь с документом подпишите его своей ЭЦП</p>
                <ul class="list-unstyled">
                    <li *ngFor="let doc of docsForSign">
                        <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                        <a href="/api/Service/fl?key={{doc.PathKey}}" target="_blank">
                            {{doc.Title}}
                        </a>
                    </li>
                </ul>

                <div class="offset-top-15">
                    <paper-checkbox [(ngModel)]="submitEDS" name="submitEDS">{{ 'Я ознакомлен с документом и подтверждаю свое согласие с ним' | translate }}</paper-checkbox>
                </div>

                <div class="offset-top-15">
                    <button type="button" (click)="submit_click()" class="btn btn-sm btn-curious-blue" [disabled]="!submitEDS || !localJLSSOk">Подтвердить</button>
                </div>

            </div>


            <div class="cell-xs-12 cell-md-6 cell-lg-4">

                <div class="inset-md-left-15 inset-md-right-15 offset-top-25 offset-md-top-0">
                    <div class="range">
                        <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">

                            <div class="banner banner-1 bg-aqua-haze ">
                                <h4>Нужна помощь?</h4>
                                <p>

                                    Позвоните нам, и мы
                                    поможем Вам разобраться
                                    абсолютно во всем
                                </p>
                                <a href="/" class="btn btn-sm btn-curious-blue">Заказать звонок</a>
                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </div>


    </section>


</div>