<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">{{ 'Кабинет поставщика' | translate }}</a></li>
                    <li class="active">{{ 'Список лотов' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="shell">


    <section class="section-50 page-rules page-offers-list">
        <h3>
            Ваши лоты
        </h3>

        <div class="range">

            <div class="cell-xs-12">
                <div class="ic-table-responsive">
                    <table class="ic-table">
                        <thead>
                            <tr>
                                <td>{{ '№ лота' | translate }}</td>
                                <td>ID Д3</td>
                                <td>{{ 'Дебитор' | translate }}</td>
                                <td>{{ 'Сумма задолженности' | translate }}</td>
                                <td>{{ 'Желаемый размер финансирования' | translate }}</td>
                                <td>{{ 'Желаемый размер ставки' | translate }}</td>
                                <td>{{ 'Статус' | translate }}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lot of lots">
                                <td>{{lot.Id}}</td>
                                <td>{{lot.DZ.Id}}</td>
                                <td>{{lot.DZ.Debtor.CompanyName}}</td>
                                <td>{{lot.Sum | CurrencyRur }}</td>
                                <td>{{lot.DZPart}}%</td>
                                <td>{{lot.YearPercent}}%</td>
                                <td>{{dict.get_LOT_STATUS(lot.Status)}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

        </div>

    </section>


</div>
