<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a routerLink="/SupplierHome/Index">{{ 'Кабинет поставщика' | translate }}</a></li>
                    <li class="active">{{ 'Правила' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<div class="shell">


    <section class="section-50 page-rules">
        <h3>
            Правила
        </h3>

        <div class="range">

            <div class="cell-xs-12 cell-md-6 cell-lg-8">

                <ul class="list-unstyled">
                    <li>
                        <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                        <a href="">
                            MI Rules 5/2016 Edition
                        </a>
                    </li>

                    <li>
                        <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                        <a href="">
                            MI Rules Summary of Key Terms
                        </a>
                    </li>
                    <li>
                        <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                        <a href="">
                            Power to Act in Seller’s Name Template
                        </a>
                    </li>
                    <li>
                        <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                        <a href="">
                            Sole Director Power to Act in Seller’s Name Template
                        </a>
                    </li>
                    <li>
                        <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                        <a href="">
                            MI Rules 5/2016 Edition
                        </a>
                    </li>
                    <li>
                        <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                        <a href="">
                            MI Rules Summary of Key Terms
                        </a>
                    </li>

                </ul>

                <p class="offset-top-45">
                    Все документы представлены в виде pdf файла и откроются <br>в новой вкладке для
                    ознакомления.
                    <br>
                    <a href="" class="link-inline">
                        Скачать все правила
                    </a>
                </p>

                <div class="offset-top-15">
                    <paper-checkbox [(ngModel)]="acceptRules" name="acceptRules">{{ 'Я принимаю правила InvoiceCafe' | translate }}</paper-checkbox>
                </div>
                <div class="offset-top-15">
                    <button type="button" (click)="submit_click()" class="btn btn-sm btn-curious-blue" [disabled]="!acceptRules">Подтвердить</button>
                </div>

            </div>


            <div class="cell-xs-12 cell-md-6 cell-lg-4">

                <div class="inset-md-left-15 inset-md-right-15 offset-top-25 offset-md-top-0">
                    <div class="range">
                        <div class="cell-xs-12 cell-sm-6 cell-md-12 child-offset-41">

                            <div class="banner banner-1 bg-aqua-haze ">
                                <h4>Нужна помощь?</h4>
                                <p>

                                    Позвоните нам, и мы
                                    поможем Вам разобраться
                                    абсолютно во всем
                                </p>
                                <a href="/" class="btn btn-sm btn-curious-blue">Заказать звонок</a>
                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </div>


    </section>


</div>