<vaadin-combo-box id="cmbLegalForm" label="{{ 'Организационная форма' | translate }}"
                  [items]="dict.LEGAL_FORM"
                  item-label-path="Value"
                  item-value-path="Id">
</vaadin-combo-box>

<vaadin-date-picker label="Pick a date" [i18n]="_dp_local" (value-changed)="process_date($event)"></vaadin-date-picker>

<paper-radio-group selected="small" allow-empty-selection>
  <paper-radio-button name="small">Small</paper-radio-button>
  <paper-radio-button name="medium">Medium</paper-radio-button>
  <paper-radio-button name="large">Large</paper-radio-button>
</paper-radio-group>