<div class="row" *ngIf="errorMessages">
    <ul>
        <li *ngFor="let message of errorMessages" class="alert alert-danger">{{message}}</li>
    </ul>
</div>
<section class="border-bottom border-bottom-gray-lighter">
    <div class="shell">
        <div class="range">
            <div class="cell-xs-12">
                <ul class="breadcrumbs-custom">
                    <li><a href="/">{{ 'Личный кабинет' | translate }}</a></li>
                    <li><a href="/">{{ 'Уполномоченные лица' | translate }}</a></li>
                    <li class="active">{{ 'Добавление уполномоченного лица' | translate }}</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="shell">
    <section class="section-50">
        <div class="range offset-top-41">
            <div class="cell-xs-12 cell-lg-8">
                <form action="">
                    <div class="range">
                        <div class="cell-xs-12">
                            <h4>
                                {{ 'Изменить данные пользователя' | translate }}
                            </h4>
                        </div>
                        <div class="range offset-top-35">
                            <div class="cell-xs-12  cell-md-6">
                                <div class="form-group">
                                    <paper-input label="{{ 'ФИО' | translate }}" [(ngModel)]="_person.FullName" name="FullName"></paper-input>
                                </div>
                            </div>
                            <div class="cell-xs-12  cell-md-6">
                                <paper-input label="{{ 'Телефон' | translate }}" [(ngModel)]="_person.MobilePhone" name="MobilePhone"></paper-input>
                            </div>
                        </div>
                        <div class="range offset-top-35">
                            <div class="cell-xs-12  cell-md-6">
                                <div class="form-group">
                                    <vaadin-date-picker label="{{ 'Дата рождения' | translate }}" [(value)]="_person.DateOfBirth" id="DateOfBirth" name="PersonBirthDate_str" [i18n]="_dp_local"></vaadin-date-picker>
                                </div>
                            </div>
                            <div class="cell-xs-12  cell-md-6">
                                <div class="form-group">
                                    <paper-input label="{{ 'Место рождения' | translate }}" [(ngModel)]="_person.PlaceOfBirth" name="PlaceOfBirth"></paper-input>
                                </div>
                            </div>
                        </div>
                        <div class="range offset-top-15">
                            <div class="cell-xs-12  cell-md-6">
                                <div class="form-group">
                                    <paper-input label="{{ 'Должность' | translate }}" [(ngModel)]="_person.Position" name="Position"></paper-input>
                                </div>
                            </div>
                            <div class="cell-xs-12  cell-md-6">
                                <paper-input label="{{ 'Источник полномочий' | translate }}" [(ngModel)]="_person.SourceOfAuthority" name="SourceOfAuthority"></paper-input>
                            </div>
                        </div>
                        <div class="range offset-top-25">
                            <div class="cell-xs-12">
                                <p>
                                    Статус:
                                </p>
                                <div class="offset-top-15">
                                    <paper-radio-group aria-labelledby="label1" [attr.selected]="_person.IsActive ? 'Active1' : 'Active2'">
                                        <paper-radio-button name="Active1" (click)="set_activity(1)">{{ 'Активен' | translate}}</paper-radio-button>
                                        <paper-radio-button name="Active2" (click)="set_activity(2)">{{ 'Не активен' | translate}}</paper-radio-button>
                                    </paper-radio-group>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="range offset-top-80">
                        <div class="cell-xs-12">
                            <h4>
                                {{ 'ЭЦП' | translate }} :
                            </h4>
                        </div>
                        <div class="range offset-top-35">
                            <div class="cell-xs-12  cell-md-6 ">
                                <div class="form-group">
                                    <label class="ic-label" for="">{{ 'Выбранная ЭЦП' | translate }}:</label>
                                    <input type="text" class="form-control" placeholder="Такая вот">
                                </div>
                            </div>
                            <div class="cell-xs-12 cell-md-6 ">
                                <div class="form-group">
                                    <label class="ic-label" for="">{{ 'Ключ ЭЦП' | translate }}:</label>
                                    <input type="password" class="form-control" placeholder="IN3GKG7">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="range offset-top-80">
                        <div class="range">
                            <div class="cell-xs-12 ">
                                <h4>{{ 'Возможности' | translate }}</h4>
                                <p class="offset-top-35">
                                    {{ 'Выберите из списка возможностей' | translate }}
                                </p>
                                <div class="offset-top-10">
                                    <paper-checkbox [(ngModel)]="_person.PossibilityToInputContract" name="PossibilityToInputContract">{{ 'Возможность вводить контракты и ДЗ, отправлять на верификацию' | translate }}</paper-checkbox>
                                </div>

                                <div class="offset-top-10">
                                    <paper-checkbox [(ngModel)]="_person.PossibilityToExposeBid" name="PossibilityToExposeBid">{{ 'Возможность выставлять заявки' | translate }}</paper-checkbox>
                                </div>

                                <div class="offset-top-10" *ngIf="_person.PossibilityToExposeBid==1">
                                    <table style="width:100%; background-color:aliceblue">
                                        <tr style="height:60px">
                                            <td style="width:20px"></td>
                                            <td><paper-checkbox [(ngModel)]="_person.PossibilityToExposeBidWithoutRestrictions" name="PossibilityToExposeBidWithoutRestrictions">{{ 'без ограничений' | translate }}</paper-checkbox></td>
                                            <td *ngIf="_person.PossibilityToExposeBidWithoutRestrictions==0"><paper-input label="{{ 'Сумма на каждую заявку' | translate }}" [(ngModel)]="_person.LimitOfSumOfEveryBid" name="LimitOfSumOfEveryBid"></paper-input></td>
                                            <td>&nbsp;</td>
                                            <td *ngIf="_person.PossibilityToExposeBidWithoutRestrictions==0"><paper-input label="{{ 'Общая сумма нерасчитанных заявок' | translate }}" [(ngModel)]="_person.LimitOfCommonSumOfNotCalculatedBids" name="LimitOfCommonSumOfNotCalculatedBids"></paper-input></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="offset-top-10">
                                    <paper-checkbox [(ngModel)]="_person.CounterOfferAcceptPossibility" name="CounterOfferAcceptPossibility">{{ 'Возможность акцептовывать встречную оферту Инвестора' | translate }}</paper-checkbox>
                                </div>

                                <div class="offset-top-10" *ngIf="_person.CounterOfferAcceptPossibility==1">
                                    <table style="width:100%; background-color:aliceblue">
                                        <tr style="height:60px">
                                            <td style="width:20px"></td>
                                            <td><paper-checkbox aria-checked="True" [(ngModel)]="_person.CounterOfferAcceptPossibilityWithoutRestrictions" name="CounterOfferAcceptPossibilityWithoutRestrictions">{{ 'без ограничений' | translate }}</paper-checkbox></td>
                                            <td *ngIf="_person.CounterOfferAcceptPossibilityWithoutRestrictions==0"><paper-input label="{{ 'Отклонение % ставки от первоначальной заявки ' | translate }}" [(ngModel)]="_person.LimitOfDeviationRateFromInitialBidInPercentage" name="LimitOfDeviationRateFromInitialBidInPercentage"></paper-input></td>
                                            <td>&nbsp;</td>
                                            <td *ngIf="_person.CounterOfferAcceptPossibilityWithoutRestrictions==0"><paper-input label="{{ 'Отклонение по дисконту от первоначальной заявки' | translate }}" [(ngModel)]="_person.LimitOfDeviationByDiscountFromStartBid" name="LimitOfDeviationByDiscountFromStartBid"></paper-input></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="offset-top-10">
                                    <paper-checkbox [(ngModel)]="_person.PossibilityToAddAndEditNewUsers" name="PossibilityToAddAndEditNewUsers">{{ 'Добавление новых пользователей, редактирование информации о других пользователях' | translate }}</paper-checkbox>
                                </div>
                                <div class="offset-top-10">
                                    <paper-checkbox [(ngModel)]="_person.PossibilityToChangeCompanyInformation" name="PossibilityToChangeCompanyInformation">{{ 'Изменение информации об Организации' | translate }}</paper-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="range offset-top-80">
                            <div class="cell-xs-12">
                                <h4>
                                    {{ 'Аккаунт' | translate }}
                                </h4>
                            </div>
                            <div class="range offset-top-35">
                                <div class="cell-xs-12  cell-md-6 ">
                                    <div class="form-group">
                                        <paper-input placeholder="{{ 'Введите ваш Email' | translate }}" label="{{ 'Логин/Email' | translate }}" [(ngModel)]="_person.Login" name="Login" char-counter maxlength="50"></paper-input>
                                    </div>
                                </div>
                                <div class="cell-xs-12 cell-md-6 ">
                                    <div class="form-group">
                                        <paper-input label="{{ 'Пароль' | translate }}" [(ngModel)]="_person.Password" name="Password" char-counter maxlength="25"></paper-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="range offset-top-80">
                        <div class="cell-xs-12 cell-sm-6 cell-lg-5">
                            <paper-button raised on-click="update_person()">{{ 'Обновить данные о пользователе' | translate }}</paper-button>
                        </div>
                        <div class="col-md-3" *ngIf="showProgress">
                            <paper-progress indeterminate></paper-progress>
                        </div>
                    </div>
                </form>
            </div>

            <div class="cell-xs-12 cell-lg-3 cell-lg-preffix-1 offset-top-25 offset-lg-top-0 page-rules">
                <h4 class="text-light">
                    {{ 'Документы' | translate }}
                </h4>
                <p class="small">{{ 'Документы, подтверждающие полномочия'| translate }}</p>
                <vaadin-upload #toDownloadFPDN max-files="5" max-file-size="50000000"
                               id="SupplierDoc0"
                               target="/api/Service/UploadFile"
                               method="POST"
                               accept=".pdf,image/*"
                               timeout=300000
                               (upload-request)="before_file_upload($event)"
                               (file-reject)="upl_reject ($event)"
                               (upload-success)="after_file_upload_FPDN($event)"
                               [i18n]="_upl_local">
                    <div class="drop-label">
                        <iron-icon icon="file-upload"></iron-icon>
                        {{ 'Перетяните файл сюда.. (до 5 файлов, до 50Мб)' | translate }}
                    </div>
                </vaadin-upload>
                <p class="small">{{ 'Документ, удостоверяющий личность' | translate }}</p>
                <vaadin-upload #toDownloadIDN max-files="1" max-file-size="20000000"
                               id="SupplierDocs"
                               target="/api/Service/UploadFile"
                               method="POST"
                               accept=".pdf,image/*"
                               timeout=300000
                               (upload-request)="before_file_upload($event)"
                               (file-reject)="upl_reject($event)"
                               (upload-success)="after_file_upload_IDN($event)"
                               [i18n]="_upl_local">
                    <div class="drop-label">
                        <iron-icon icon="file-upload"></iron-icon>
                        {{ 'Перетяните файл сюда.. (1 файл, до 20Мб)' | translate }}
                    </div>
                </vaadin-upload>
                <span>
                    {{'Документы, подтверждающие полномочия'| translate}}
                </span>
                <ul class="list-unstyled offset-top-25">
                    <li *ngFor="let obj of this._FullPowersDocumentsNamesURLs; let i = index">
                        <div [hidden]="!obj.isVisible">
                            <!--<b style="padding-right: 1.3em">{{i + 1}}</b>-->
                            <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                            <a target="_blank" href="{{obj.getUrl}}" class="ic-close ic-close-1" aria-label="Close">{{obj.fileName}}</a>
                            <span class="glyphicon glyphicon-remove" (click)="delete_file(obj.deleteUrl)" aria-hidden="true">x</span>
                        </div>
                    </li>
                </ul>
                <span>
                    {{'Документ, удостоверяющий личность' | translate}}
                </span>
                <ul class="list-unstyled offset-top-25">
                    <li *ngFor="let obj of this._IdentityDocumentsNamesURLs; let i = index">
                        <div [hidden]="!obj.isVisible">
                            <!--<b style="padding-right: 1.3em">{{i + 1}}</b>-->
                            <span class="icon icon-sm icon-froly fa-file-pdf-o"></span>
                            <a target="_blank" href="{{obj.getUrl}}" class="ic-close ic-close-1">{{obj.fileName}}</a>
                            <span class="glyphicon glyphicon-remove" (click)="delete_file(obj.deleteUrl)" aria-hidden="true">x</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<paper-toast id="theToast"></paper-toast>

<!--<paper-dialog id="dialogEDS" modal style="width:400px;display:none">
    <h5>{{ 'Установлено ЭЦП' | translate }} : {{_person.EDS_type}}</h5>
    <div role="listbox">
        <paper-item (dblclick)="dialogEDS_Ok()">1. {{this.EDS_Name}}</paper-item>
    </div>
    <div class="buttons">
        <paper-button dialog-confirm autofocus>Закрыть</paper-button>
    </div>
</paper-dialog>-->

<style>
    .alert {
        color: red;
    }
</style>